[2019-06-21 08:15] SamuelHassine opened #98 "[ImportFileCsv] Create the connector"
## Problem to Solve

Users should be able to import data from CSV files. Create a connector on the model "ImportFileStix".

## Current Workaround

None.

## Proposed Solution

Create the CSV connector as well as the documentation about the expected CSV columns.

## Additional Information

None.

[2019-06-26 12:14] SamuelHassine opened #1 "Create the OpenCTI connector for default datasets"
## Problem to Solve

For default datasets such as sectors, countries, regions and cities. An OpenCTI connector can be a good solution to maintain up-to-date entities.

## Current Workaround

Create those entities manually.

## Proposed Solution

Create an OpenCTI connector and the associated datasets.

## Additional Information

None.

[2019-06-28 11:49] JasonKeirstead opened #2 "[TAXII 2] Create the connector"
## Problem to Solve

It would be nice to have a generic TAXII 2 Connector

## Current Workaround

Manual JSON Import

## Proposed Solution

Connector that implemented TAXII 2 protocol

[2019-06-28 12:02] richard-julien commented on #1
As a replacement for import/export feature of the UI ?

[2019-06-29 08:01] SamuelHassine opened #3 "[TheHive] Create the connector"
## Problem to Solve

Find a way to synchronize TheHive cases (and associated observables) to OpenCTI.

## Current Workaround

None.

## Proposed Solution

Create a bi-directionnal TheHive connector.

## Additional Information

None.

[2019-06-29 08:02] SamuelHassine opened #4 "Make the MISP connector bi-directional"
## Problem to Solve

People wants to be able to push events/attributes to MISP from OpenCTI.

## Current Workaround

None.

## Proposed Solution

Make the MISP connector to be bi-directional.

## Additional Information

None.

[2019-06-29 08:03] SamuelHassine opened #5 "[Cortex] Create the connector"
## Problem to Solve

Observables enrichment is currently not provided by OpenCTI. People wants to be able to display enrichment direclty in the platform.

## Current Workaround

None.

## Proposed Solution

Create the CORTEX connector for observables enrichment.

## Additional Information

None.

[2019-06-29 08:40] cdiraimondi opened #25 "[ImportExternalUrl] Create the connector"
## Problem to Solve

There is currently no way to provide a URL to an Intel blog post or PDF report and have the IOCs parse our for ingestion into the platform. Intel analysts often have to manually extract out these IOCs when attempting to do analysis.

## Current Workaround

You can manually specify a report and manually define IOCs (observables).

## Proposed Solution

Provide the ability for a

[2019-07-02 16:24] #1 closed

[2019-07-02 16:26] SamuelHassine opened #8 "Integrate with multiple MISP Instances"
## Problem to Solve

As mentioned in the [original issue](https://github.com/OpenCTI-Platform/opencti/issues/81), users would like to see the possibility to connect as many MISP instances as the admin desires. This could help people that have access to multiple of those instances.

## Current Workaround

None.

## Proposed Solution

Add the possibility to connect more than one instance

## Additio

[2019-07-03 09:38] SamuelHassine opened #9 "Parallel ingestion of data"
## Problem to Solve

Currently, data from connectors is sequentially ingested. If there are a lot of entities/observables to ingest, it could take some time depending of the server hardware performances where Grakn is deployed.

## Current Workaround

None.

## Proposed Solution

Refactor the connectors to user the import workers.

## Additional Information

None.

[2019-07-04 22:53] #9 closed

[2019-07-08 14:10] SamuelHassine opened #11 "Full refactor of connectors"
## Problem to Solve

Following the [platform architecture issue](https://github.com/OpenCTI-Platform/opencti/issues/121), connectors must be refactored to integrate with this new architecture.

## Current Workaround

None.

## Proposed Solution

Each connector will be launched in a specific container and will be independant from the rest of the platform.

Implement, for each connector:
- a built-i

[2019-07-11 02:01] #11 closed

[2019-07-11 02:02] #8 closed

[2019-08-06 20:15] trothy999 opened #23 "MISP Connector "InsecureRequestWarning""
I am working as a summer intern, so I am new to both MISP and OpenCTI

## Description

When running `docker-compose up` after adding MISP connector to the `docker-compose.yml` an `InsecureRequestWarning` error is shown.

## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.04 VM hosted on AWS
2. OpenCTI version: e.g. OpenCTI 1.1.1
3. OpenCTI client: frontend

## Actual Output

`connector-m

[2019-08-27 10:38] intelwolf opened #14 "Adding a state indicator to enable incremental updates"
## Problem to Solve

Currently the import process does not foresee in duplicate entities being processed during import. Every time when for instance the Mitre connector is started the complete import process is starting for scratch. It would be good to have only incremental updates being processed

## Current Workaround

Add more workers to speed up the import process or extend the interval period

[2019-08-27 10:40] SamuelHassine commented on #14
@mclaassen: Yes it is definitely a need! We need to save the current state based on the "modified" date field of STIX2 JSON entities. This is in top priority.

[2019-08-27 11:16] CGarat opened #15 "Fetch observables from local pdf reports"
## Problem to Solve

There is currently no way to automatically parse local pdf reports and import the resulting observables into OpenCTI

## Current Workaround

None

## Proposed Solution

Build a connector that would parse reports under a certain local directory and import the resulting observables into OpenCTI

## Additional Information

Could easily be extended to csv/html reports

[2019-08-29 13:15] PyRain opened #28 "Unable to connect to MISP"
**Description**

In connector-misp_1, we receive the following error:

"connector-misp_1     | Request body: connector-misp_1     | {"returnFormat": "json", "tags": {"AND": ["OpenCTI:\\ Import"], "NOT": ["OpenCTI:\\ Imported"]}, "withAttachments": 0, "metadata": 0, "enforceWarninglist": 0, "includeEventUuid": 0, "sgReferenceOnly": 0, "includeContext": 0, "headerless": 0, "includeSightings": 0, "in

[2019-09-07 16:44] richard-julien opened #17 "Reduce connectors docker image size"
## Problem to Solve

opencti/connectors docker image are big:

[code]

## Proposed Solution

Clear cache, move to alpine base image.

[2019-09-07 16:54] richard-julien commented on #17
Work result
[code]

[2019-09-11 10:17] richard-julien opened #19 "MISP Connector doesn't support large volume"
## Description

The MISP connector know support to fetch every untagged events but doesnt provides any mechanism to control the events volume.

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. Configure to get every untagged events in a large MISP
2. Start the connector

## Actual Output

Timeout on the MISP query

## Expected Output

Limit the volume to get incrementa

[2019-09-11 13:40] richard-julien commented on #19
tag = '' in configuration is not working. Tag must be removed to fetch everything. We should add the compatibility tag is empty is like tag not exists.

[2019-09-18 11:53] Fred-certeu opened #26 "Alienvault OTX connector"
Collect IOCs from AlienvaultOTX

Create automatically associated reports
Create automatically associated links

Use Alienvault tags to create automatically

- associated threats (threat actors, intrusion sets, malware)
- assocated countries

https://www.alienvault.com/documentation/otx.htm?tocpath=Documentation%7CAlienVault%C2%AE%20Open%C2%A0Threat%20Exchange%C2%AE%7C_____0

[2019-09-18 11:57] Fred-certeu opened #24 "[VirusTotal Hunting] Create the connector"
To obtain IOCs (hashes values, ...) and associated context (submit date, country, etc) for surveilled malware families.

Yara rules are provided as an entry by the susbriber

https://www.virustotal.com/gui/hunting-overview

[2019-09-18 13:11] Fred-certeu opened #31 "[ImportExternalUrl] Create the connector"
Import public threat reports from open sources blogs.

- The html page should be transformed in to an OpenCTI report
- The URL of the page should be transformed into an external reference
- If the page contains tags (i.e. related to malware families, threat actors, countries, intrusion sets) automatic associations should be made in OpenCTI

For each blog, there could be two different work flows:

[2019-09-22 07:40] #17 closed

[2019-10-07 11:26] oz17il opened #41 "MISP integration - events\IOCs from MISP not shown on the OpenCTI dashboard"
Hi,
After the initial settings of MISP integration no data shown in the OpenCTI dashboard.
I can't see any ingested data from MISP. The only thing that works correctly is the  imported_tag: 'OpenCTI: Imported'. but the IOCs of the MISP events not shown.

**Reproducible Steps**

- I validate that the misp.py is run without any issues directly from the CLI.
- Network connection from OpenCTI to MISP

[2019-10-21 16:05] SamuelHassine opened #21 "Upgrade all connectors with the new helper and configuration"
## Problem to Solve

The current connectors are not compatible with the new version of the platform.

## Current Workaround

None.

## Proposed Solution

Upgrade all connectors.

## Additional Information

None.

[2019-10-25 09:49] SamuelHassine opened #27 "Refactor and enhance the MISP connector"
## Problem to Solve

The MISP connector is currently working but difficult to understand and use.

## Current Workaround

None.

## Proposed Solution

Completely refactor the connector to make it more useful/efficient with understandable and flexible parameters.

## Additional Information

None.

[2019-10-26 12:32] #14 closed

[2019-11-05 08:50] rhaist commented on #31
The connector could also use the excellent tooling around APTnotes:
https://github.com/aptnotes/tools

[2019-11-05 13:28] Fred-certeu commented on #31
Thank you for the link. It is useful and complementary.
My point is more specifically to create reports to track recent noteworthy incidents by open sources (even if there is no observables / IOCs).

For example, I would like to transform the following posts into openCTI reports:

https://www.bleepingcomputer.com/news/security/brooklyn-hospital-loses-patient-data-in-ransomware-attack/
country : US

[2019-11-07 16:37] intelwolf opened #32 "IPInfo connector failing at some IP's"
## Description

At some IP address enrichments the IPInfo connector is throwing an error

## Environment

1. OS (where OpenCTI server runs): Debian
2. OpenCTI version: 2.0.2
3. OpenCTI client: frontend
4. Other environment details: -

## Reproducible Steps

Add a new observable type IP4: 82.146.51.150 with IPInfo connector enabled. Notice that for this IP the connector is throwing an error

## Exp

[2019-11-14 21:56] intelwolf commented on #32
In not all cases the official_name field is available in the iso3166-1.json country file. If the field is missing the connector throws above error. Falling back to the name field in that case fixes the issue.
Modification of the code in /opt/opencti-connector-ipinfo/ipinfo.py file of the ipinfo connector fixes the issue:

[code]

[2019-11-19 14:06] Fred-certeu commented on #27
One important use case for us:
- be able to import all MISP events (from a given MISP instance), independently of whether they have a tag or not
- from a certain date (typically the date of activation of the connector - but it could be an earlier date)
- specify a report type to transform MISP event into reports (e.g. report type = ''event'')
- associate automatically threat actors / intrusion set

[2019-11-19 14:13] Fred-certeu commented on #26
Hello b4dpxl, I see that this issue is assigned to you... good luck !
Just to check, do you plan to include OTX observables collection ?
Thanks

[2019-11-21 14:29] andurin opened #33 "MISP Connector (docker) fails with key error"
## Description

Running misp-connector in docker without providing the config as volumes. So just setting the right environment vars. MISP Connector fails caused with a key error wanting to get the values from the config.

## Environment

1. OS (where OpenCTI server runs): Latest Docker
2. OpenCTI version: { e.g. OpenCTI 2.0.2 }
3. OpenCTI client: { e.g. frontend or python }
4. Other environment d

[2019-11-25 13:39] SamuelHassine commented on #27
@Fred-certeu: all your points will be took into account.

[2019-12-01 18:25] #32 closed

[2019-12-01 19:44] #23 closed

[2019-12-04 13:54] Fred-certeu commented on #27
Hello @SamuelHassine ,
another topic to address with the MISP connector : the question of UUIDs.
I'm not sure if openCTI uses UUID, but MISP does, and it's very useful :

- when observables (attributes) transit in different platforms (MISP or non MISP).
- to query observables from platforms

On the other hand, I understand that openCTI will not duplicate observables with the same value (which is a

[2019-12-11 10:38] SamuelHassine opened #37 "CVE connector enhancement"
## Problem to Solve

- All CVE since 2003
- CVE JSON format import

## Current Workaround

{ Please describe how you currently solve or work around this problem, given OpenCTI's limitation. }

## Proposed Solution

{ Please describe the solution you would like OpenCTI to provide, to solve the problem above. }

## Additional Information

{ Any additional information, including logs or screenshots i

[2019-12-11 15:43] HugoPouliquen commented on #37
Additional Information
https://nvd.nist.gov/vuln/data-feeds

[2019-12-11 16:44] HarishHary commented on #28
Same issue as him.

[code]

Any clue ?

[2019-12-11 18:16] HarishHary commented on #26
@b4dpxl Are you still working on this ? I am willing to pick up the work on where you left of. And try to make it merge.

[2019-12-14 05:53] Niteesh-AI opened #38 "Unable to import CVE feeds to Opencti by connector"
Can you please provide me how to migrate CVE data of NVD feed using a connector.
## Description

1. {1.Sucessfully add connector to docker-compose.yml.Though connector added unable to import data in opencti}

## Environment

1. Ubuntu 18.04
2. OpenCTI  2.1.1.
3. OpenCTI client: {  frontend }

## Expected Output

{ CVE data into opencti  }

## Actual Output

{unable to migrate cve data to opencti,}

[2019-12-16 12:23] krelac-bit opened #39 "cve and ipinfo connectors - ERRR:root:You are not allowed to do this."
Hi,

everything else is up and running fine however cvs and ipinfo connectors seem not to be working. Configs were copied over from github and added to docker-compose.yml as below.

docker-compose.yml
....
  connector-ipinfo:
    image: opencti/connector-ipinfo:latest
    environment:
      - OPENCTI_URL=http://opencti:8080
      - OPENCTI_TOKEN=xxxxxxxxxxxxxxxx
      - CONNECTOR_ID=xxxxxxxxxxxxxx

[2019-12-18 13:24] HugoPouliquen opened #40 "IPinfo connector name is wrong"
## Description
Connector name of image is wrong
file : connectors/ipinfo/docker-compose.yml
line : 14
[code]

[2019-12-19 07:31] krelac-bit commented on #39
Creating opencti_connector-ipinfo_1 ... done
Attaching to opencti_connector-ipinfo_1
connector-ipinfo_1            | INFO:root:Listing Threat-Actors with filters null.
connector-ipinfo_1            | ERROR:root:You are not allowed to do this.
connector-ipinfo_1            | Traceback (most recent call last):
connector-ipinfo_1            |   File "ipinfo.py", line 81, in <module>
connector-ipinfo_

[2019-12-25 19:59] HugoPouliquen commented on #40
This problem has been solved by @SamuelHassine 7 days ago

[2019-12-25 19:59] #40 closed

[2019-12-25 22:46] SamuelHassine commented on #28
This bug should now be solved in the last version (2.1.2). Please re-open this ticket is not.

[2019-12-25 22:46] #28 closed

[2019-12-25 22:47] #19 closed

[2019-12-25 22:47] #33 closed

[2019-12-25 22:48] SamuelHassine commented on #41
This bug should now be solved in the last version (2.1.2).

[2019-12-25 22:48] #41 closed

[2020-01-24 09:53] SamuelHassine opened #42 "MISP connector does not import some types"
Afffected types:

- YARA rules
- Emails subject/address

[2020-02-03 11:58] mlodic opened #43 "Intel Owl connector"
Hi everyone,

thanks for this project and your contribution to the community.

I noticed that OpenCTI lacks of a chance to enrich observables.

I thought that a connector for the new Intel Owl project could be of interest: [Intel Owl](https://github.com/certego/IntelOwl). In this way, OpenCTI users could leverage a single connector for the enrichment of observables or files.

Please let me know wh

[2020-02-04 09:55] CGarat commented on #26
Hello @b4dpxl, thanks a lot for this! I've forked your project to fetch observables as well (and added a support for Docker + changed the config a little). This is only a v1, we're probably missing some types.  https://github.com/CGarat/otx_to_opencti

[2020-02-04 10:21] b4dpxl commented on #26
Hi. Sorry for not responding in ages. Thanks @CGarat. @HarishHary unfortunately, due to a (hopefully temporary) change in work focus, I'm not going to be looking at this for the foreseeable future :(

[2020-02-04 10:42] SamuelHassine commented on #26
Hello guys,

CERT-EU is working on this connector. @maertv @Fred-certeu could you please tell us about the current status of your work?

[2020-02-06 15:13] maertv commented on #26
Yes, we are actively working on it. No defined deadlines yet.

[2020-02-10 09:44] Fred-certeu opened #44 "opencti connector - reports with incoherent dates"
Please replace every line in curly brackets { like this } with an appropriate answer, and remove this line.

## Description

Several reports imported via the opencti connector have incoherent dates

Examples:

Unit42 BabyShark Feb 2019 --> Date 2/8/2042
ESET Operation Groundbait --> Date 11/8/2020
etc

## Environment

1. OS (where OpenCTI server runs): { e.g. Mac OS 10, Windows 10, Ubuntu 16.4, et

[2020-02-12 01:00] #15 closed

[2020-02-12 01:02] #21 closed

[2020-02-12 12:36] #42 closed

[2020-02-12 12:36] #27 closed

[2020-02-12 12:37] #38 closed

[2020-02-20 01:10] OzRex08 opened #45 "Automatic Ingest of Threat Feeds"
It would be good to be able to ingest opensource and commercial threat feeds automatically by choosing a feed url.

## Current Workaround

Indicators need to be imported manually.

## Proposed Solution

- Have the ability to select from a range of opensource feeds and have them automatically ingest either on demand, or once per day etc.
- Be able to categorise feeds being ingested into appropriate

[2020-02-22 17:24] #37 closed

[2020-02-26 07:12] xinfolab opened #47 "OpenCTI couldn't get a MISP data"
## Description
When running the MISP connector, OpenCTI couldn't get a MISP data.

## Environment
1. OS (where OpenCTI server runs):  ubuntu 19.10 VirtualBox
2. OpenCTI version : 3.0.2
3. OpenCTI client :  python 3.7.5
4. Other environment details: pymisp==2.4.119.1

## Reproducible Steps
#### Clone the repository
[code]

[misp connector download](https://github.com/OpenCTI-Platform/connectors/tre

[2020-02-28 14:09] Fred-certeu opened #48 "ImportfilePDFobservables connector --> PDF not imported as a report and obsrvables not attached to it"
Please replace every line in curly brackets { like this } with an appropriate answer, and remove this line.

## Description

I tested the connector with PDF file.
Observables seem to be correctly extracted but
- the PDF document is not imported as report
and, consequently
- the observables are not attached to a report
- it is not possible to easily find them in the general set of observables
- it

[2020-02-28 16:13] SamuelHassine commented on #48
Hello @Fred-certeu,

As precised here: https://opencti-platform.github.io/docs/usage/knowledge-import, if you want the observables to be associated to a report, you have to create the report and import the file directly from it. Using the "general upload" will conduct to create atomic entities. If it is a STIX2 containing a report, that's not a problem, it if is a PDF (or a CSV in the future), the

[2020-02-28 16:20] SamuelHassine opened #49 "[Malpedia] Create the connector"
Please replace every line in curly brackets { like this } with appropriate answers, and remove this line.

## Problem to Solve

{ Please describe the problem you would like to solve. }

## Current Workaround

{ Please describe how you currently solve or work around this problem, given OpenCTI's limitation. }

## Proposed Solution

{ Please describe the solution you would like OpenCTI to provide, t

[2020-02-28 17:04] Fred-certeu commented on #48
Indeed, it is much better like this ;)
Thank you for the clarification.
One remark however:
The observables are attached to the report.
But no indicator is created for them.
So, when the user attached some knowledge to the report (e.g. an intrusion set or a malware), it is not possible - apparently - to record that these observables "indicate" an intrusion set or a malware...

[2020-02-28 20:41] SamuelHassine commented on #48
If you want to create indicators from the observables with this connector, as you can see in the [default configuration file](https://github.com/OpenCTI-Platform/connectors/blob/master/import-file-pdf-observables/src/config.yml.sample), you just have to set `create_indicator` to `True`.

[2020-03-01 21:26] I-Iugo opened #50 "[CVE] Download link to variable"
## Description

Set the download CVE link to variable, because otherwise the tool can hardly be used offline. Offline we can host the CVEs on a link that is not : "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-"

## Reproducible Steps

https://github.com/OpenCTI-Platform/connectors/blame/9d47ffdad1c2a7fbdd709565d5c3f670693b148f/cve/src/cve.py#L103

## Expected Output

Url as a variable in the

[2020-03-03 15:16] maertv opened #52 "CrowdStrike connector"
## Problem to Solve

Get actors, reports and indicators from CrowdStrike.

[2020-03-04 08:45] maertv commented on #26
@SamuelHassine , is it OK to close this issue?

[2020-03-04 09:11] #26 closed

[2020-03-05 13:08] darcosion opened #54 "RabbitMQ connexion doesn't work (example MISP)"
## Description

When I configure OpenCTI and wanting to add some connector, I've configured my connector, but they crash because the reach OpenCTI API, but cannot use correctly AQMP.

## Environment

1. Linux ubuntu-virtual-machine 5.3.0-40-generic #32~18.04.1-Ubuntu SMP Mon Feb 3 14:05:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux (with uname -a)
2. OpenCTI version: { e.g. OpenCTI 1.0.2 }
3. OpenCTI

[2020-03-05 14:41] richard-julien commented on #54
Hi @darcosion , can you copy/paste your docker compose configuration for this connector?
Thanks

[2020-03-05 14:47] darcosion commented on #54
Related to https://github.com/OpenCTI-Platform/opencti/issues/547#issuecomment-595256134, I have two docker configurations, one for Grakn and one for the rest, there is my docker-compose.yml :
[code]

[2020-03-06 13:51] darcosion commented on #54
Found my errors.

So : connector-import-file-pdf-observables and connector-opencti have a collision of ID because of an error in my conf (seeing https://github.com/OpenCTI-Platform/connectors/issues/54#issuecomment-595266518 ).

I've started my connectors in a specific docker-compose.yml or with just `python3 someconnector.py` and this isn't the good way. Connector should be integrate in the docke

[2020-03-06 13:51] #54 closed

[2020-03-06 17:03] mbower commented on #47
Im sort of see this same thing. Although, I get _some_ of the MISP data to come in initially, then it just stops importing anything and I see the above.

[2020-03-07 07:41] #48 closed

[2020-03-07 20:52] #50 closed

[2020-03-07 21:06] #52 closed

[2020-03-07 21:11] SamuelHassine commented on #47
@mbower @xinfolab: just fixed this issue. It will be in the next release!

[2020-03-07 21:11] #47 closed

[2020-03-07 21:13] SamuelHassine commented on #39
Hello @krelac-bit. Sorry for the delay of our answer. The message `You are not allowed to do this.` indicates that the token provided in the connector config is not correct. Are you sure it is the equivalent to the admin token in the main OpenCTI application?

[2020-03-09 15:50] Fred-certeu opened #55 "alienvault connector : always insert URL of the pulse as an external reference"
Please replace every line in curly brackets { like this } with appropriate answers, and remove this line.

## Problem to Solve

When importing a pulse in the form of a report, the alienvault connector creates an external reference when the orginal alienvault pulse provides an URL under in the field REFERENCE.
However, some alienvault pulses do not populate this REFERENCE field. In this case, no ex

[2020-03-10 16:19] Fred-certeu opened #56 "Alienvault and Crowdstrike connectors - use author's tag to indicate malware"
Please replace every line in curly brackets { like this } with appropriate answers, and remove this line.

## Problem to Solve

If the author uses a simple tag to refer to a malware, this information will be imported as a simple tag and not included as "knowledge". Furthermore, there will be no "indicate" relationship between the indicators imported with the report and the malware family.

## Curr

[2020-03-11 07:46] Fred-certeu opened #57 "[CrowdStrike] Import yara rules master"
Please replace every line in curly brackets { like this } with appropriate answers, and remove this line.

## Problem to Solve

Yara rules master is not imported.

## Current Workaround

{ Please describe how you currently solve or work around this problem, given OpenCTI's limitation. }

## Proposed Solution
The weekly yara rules master shall be imported.

Replace existing rules with rules having

[2020-03-11 09:33] Fred-certeu opened #58 "[AlienVault] Report author = alienvault pulse user"
Please replace every line in curly brackets { like this } with appropriate answers, and remove this line.

## Problem to Solve

Currently, all reports imported wth alienvault connector have author = Alienvault.
However, Alienvault is a community platform where several users shares reports and indicators.
So it is important to know which user s the author of the report (pulse).

## Current Workarou

[2020-03-16 10:09] smackanulty opened #60 "[ExportFileSTIX] Invalid STIX2 Export"
Stix2 Validator is showing invalid, and is unable to import file into MISP.

[-] Results for: 2020-03-16T10_06_17.551Z_(ExportFileStix2)_report.json
[X] STIX JSON: Invalid
    [!] Warning: marking-definition--613f2e26-407d-48c7-9eca-b8e91df99dc9: {111} Open vocabulary value 'TLP' should be all lowercase and use hyphens instead of spaces or underscores as word separators.
    [!] Warning: marking-d

[2020-03-18 15:18] SamuelHassine commented on #60
This issue is about the `Export STIX2` connector.

[2020-03-23 12:07] rhaist opened #62 "Fix antlr version"
I am currently getting the following error with this connector:

[code]

Could it be, that the hard coded 4.7.2 version needs to be removed @maertv ?

https://github.com/OpenCTI-Platform/connectors/blob/5d86c52ff596d447baeb03b2648a86ade3752362/alienvault/Dockerfile#L12

[2020-03-23 12:17] maertv commented on #62
Yes, I believe that the hard coded version is causing the error.

I removed the hard coded version from the Dockerfile while working on issue #55 (see the PR #61).

[2020-03-23 14:24] rhaist commented on #62
But it is not part of the requirements.txt and seems to be a hard dependency.
Maybe add `antlr4-python3-runtime` there?

[2020-03-23 14:54] maertv commented on #62
I do not think that _antlr4-python3-runtime_ needs to be in the _requirements.txt_ or in the _Dockerfile_.

It is possible that I am missing something but the reason why I added `antlr4-python3-runtime==4.7.2` (the _requirements.txt_ would have been the correct place) was because of https://github.com/oasis-open/cti-pattern-validator/issues/67. The issue should be fixed in the latest version (http

[2020-03-23 15:09] maertv opened #63 "Remove antlr4-python3-runtime==4.7.2 from CrowdStrike connector Dockerfile"
It is not required since https://github.com/oasis-open/cti-pattern-validator/releases/tag/v1.3.0 release.

It also causes following errors:
[code]

[2020-03-24 08:20] maertv commented on #62
The modifications made for the #55 are now in the _master_ branch.

@rhaist, can you please check if the error is still present in the _master_ branch?

[2020-03-24 08:34] rhaist commented on #55
Testing with alienvault:rolling the problem seems to be fixed.
Thanks!

[2020-03-24 08:36] rhaist commented on #62
Testing with alienvault:rolling the problem seems to be fixed!
Thanks!

[2020-03-24 08:40] maertv commented on #62
@rhaist , thank you!

Closing the issue.

[2020-03-24 08:40] #62 closed

[2020-03-24 09:07] maertv commented on #63
Should be fixed, closing the issue.

[2020-03-24 09:07] #63 closed

[2020-03-24 10:19] maertv commented on #55
The URL of the pulse is added to external references. Closing the issue.

[2020-03-24 10:19] #55 closed

[2020-03-26 15:09] maertv commented on #56
Added option to "guess" which tags represent malwares by making a malware query with the tag value to OpenCTI.

If the tag is identified as a malware then the malware will be used to create relationships with other entities.

This feature is disabled by default.

To enable this feature in **AlienVault** connector:

* Add following environmental variable to _docker-compose.yml_:
[code]
* Add follow

[2020-03-30 16:46] SamuelHassine opened #68 "[New connector] COVID-19 - CyberThreatCoalition BlackList"
## Problem to Solve

Create a connector to be able to consume data from the official blacklist of the COVID-19 CyberThreat Coalition (https://www.cyberthreatcoalition.org/).

## Current Workaround

Import lists with a custom Python script.

## Proposed Solution

Create a full featured connector with:

- Import of indicators/observables
- Linked to ONE report named "COVID-19 CyberThreat Coalition B

[2020-03-31 10:42] maertv opened #70 "CrowdStrike indicator import fails because of OpenCTI observable type mismatch"
## Description

CrowdStrike indicator import fails because of OpenCTI observable type mismatch.

## Expected Output

CrowdStrike indicator is imported to OpenCTI.

## Actual Output

CrowdStrike indicator import fails.

Sample OpenCTI error message:
[code]

[2020-03-31 11:52] maertv commented on #70
Merged to _master_. Closing the issue.

[2020-03-31 11:52] #70 closed

[2020-03-31 11:53] maertv commented on #56
Merged to _master_. Closing the issue.

[2020-03-31 11:53] #56 closed

[2020-03-31 20:47] #68 closed

[2020-04-01 09:24] 2xyo opened #72 "[MITRE] Beta version of MITRE ATT&CK ® Matrix with sub-techniques"
## Problem to Solve

Beta version of MITRE ATT&CK ® Matrix with sub-techniques is not available in OpenCTI.

## Proposed Solution

Create a new connector with the beta version of the matrix.

OR

Update the mitre connector with a BETA flag to easily switch from stable to beta version of the matrix.

## Additional Information

* [ATT&CK with Sub-Techniques — What You Need to Know ](https://medium.c

[2020-04-02 08:56] SamuelHassine opened #74 "[AlienVault] Importing old pulses errors"
## Description

When trying to import old pulses (`pulse_start_timestamp: '2018-01-01T00:00:00' # ISO 8601`), the connector throw errors.

The errors are:
[code]

## Environment

AlienVault Connector 3.1.0

[2020-04-02 08:57] SamuelHassine commented on #74
The connector is working well starting at: `pulse_start_timestamp: '2020-01-01T00:00:00'  # ISO 8601`.

[2020-04-02 09:00] SamuelHassine commented on #39
I close this issue due to inactivity. Please feel free to re-open it if you still encounter problem.

[2020-04-02 09:00] #39 closed

[2020-04-03 14:40] maertv commented on #74
Merged to _master_. Closing issue.

[2020-04-03 14:40] #74 closed

[2020-04-03 16:25] maertv commented on #57
Merged to _master_. Closing issue.

[2020-04-03 16:25] #57 closed

[2020-04-06 19:58] Patriot1b4 commented on #72
@SamuelHassine @2xyo Just as a small two cents. I went and pointed the old Pre and Enterprise ATT&CK links to the new MITRE beta links and it loaded in all the new sub-techniques. It worked so I assume its okay. The new link reaches their raw jsons on github just in a different location with the new stuff in it.

[2020-04-06 22:14] smclinden opened #77 "Is there a URI for the OpenCTI API for testing?"
Please replace every line in curly brackets { like this } with an appropriate answer, and remove this line.

## Description

All of the connectors from this repot (other than the import and export) fail to connect to the API but other services are running

## Environment

1. OS: Ubuntu 18:04
2. OpenCTI version: 3.1.0
3. OpenCTI client: frontemd

## Reproducible Steps

Steps to create the smallest

[2020-04-07 02:45] smclinden commented on #77
Not hearing anything back, I decided to experiment. I changed the port for OpenCTI from 8080 to 4000 because it was suggested somewhere else.

I, then, cloned "connectors" and edited the config.yml (copied from the sample) to match the entries in the docker-compose.yml for OpenCTI.

I, also, added "RUN apk update" to the Dockerfile (to get rid of some warnings) and did a "docker build --tag connec

[2020-04-07 14:31] V1D1AN opened #78 "Bug connector malpedia"
Please replace every line in curly brackets { like this } with an appropriate answer, and remove this line.

## Description

The connector malpedia don't work

## Environment

1. OS (where OpenCTI server runs): CentOs 7
2. OpenCTI version: OpenCTI 3.1.0
3. OpenCTI client: Frontend
4. Other environment details:

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. cd /root

[2020-04-07 14:42] #78 closed

[2020-04-07 14:42] V1D1AN commented on #78
I must change the config.yml.sample with config.yml ;)

[2020-04-07 14:56] V1D1AN opened #79 "[Malpedia] API KEY for malpedia"
## Description

Good morning,

Is the API Key required for the connector to work properly?

## Environment

1. OS (where OpenCTI server runs): CentOs 7
2. OpenCTI version: OpenCTI 3.1.0
3. OpenCTI client: Frontend

## Actual Output

INFO:root:Connector has never run
INFO:root:Connector will run!
INFO:root:Listing External-Reference with filters [{"key": "url", "values": ["https://malpedia.caad.fki

[2020-04-07 21:13] SamuelHassine opened #80 "[AlienVault,CrowdStrike] Connector crash after stix library update through pycti"
Hello,

`stix2` library is imported in the project because it is a dependency of `pycti` but is used in the AlienVault connector.

`pycti` does not stick the versions of its dependencies, so `stix2` may be in the last version. `stix2` 1.4.0 has been released on April 3, 2020. By upgrading `stix2` lib with `pip3 install --upgrade stix2` or by doing a fresh installation of `pycti`, `stix2` 1.4.0 wil

[2020-04-08 09:26] MathRig opened #81 "[Cryptolaemus] connector ERROR:root:Missing parameters: id or filters"
Hi,

I tried to add Cryptolaemus connector to our opencti plateform.
It's not working and it has this error: ERROR:root:Missing parameters: id or filters
here are the output when I launch the cryptoleamus.py

[code]

[2020-04-08 09:31] maertv commented on #80
The same issue affected CrowdStrike connector.

[2020-04-08 10:55] maertv commented on #80
Merged to _master_. Closing issue.

[2020-04-08 10:55] #80 closed

[2020-04-08 11:10] #79 closed

[2020-04-08 11:10] V1D1AN commented on #79
I have a API Key

[2020-04-08 11:14] V1D1AN opened #83 "[Malpedia] 'NoneType' object is not subscriptable"
## Description

The connector maldpedia don't work

## Environment

1. OS (where OpenCTI server runs): CentOs 7
2. OpenCTI version: OpenCTI 3.1.0
3. OpenCTI client: frontend
4. Other environment details: docker 19.03.5

## Actual Output

When I start the docker ..
I have this error :

INFO:root:{"errors":[{"message":"An unknown error has occurred!  Please try again later.","name":"Unknown","time_t

[2020-04-08 11:47] ganarul opened #84 "yarn serv"
When i run

yarn serv

i get err - no such file or directory

[2020-04-09 10:26] Stoffe opened #852 "Integration to Azure Log Analytics and Sentinel and ASC"

[2020-04-09 10:29] Stoffe opened #853 "Integration to GCP and Stackdriver"

[2020-04-09 10:30] Stoffe opened #317 "[ElasticSearch] Create the connector (Stream)"
## Problem to Solve

Integration to ELK stack to be able to consume the logs from there.

## Proposed Solution

Integration to the ELK stack.

[2020-04-09 10:30] Stoffe opened #318 "[Splunk] Create the connector (Stream)"
## Problem to Solve

Integration to Splunk

## Proposed Solution

Integration to Splunk

[2020-04-09 10:31] Stoffe opened #319 "[AWS] Create the connector (Stream)"
## Problem to Solve

Integration to AWS

## Proposed Solution

Integration to AWS

[2020-04-09 16:28] 2xyo opened #344 "[MITRE] Common Attack Pattern Enumeration and Classification (CAPEC™) 3.2 connector"
## Problem to Solve

I would like to map techniques employed by adversaries to exploit known weaknesses in cyber-enabled capabilities. (e.g., SQL Injection, XSS, Session Fixation, Clickjacking)

The Common Attack Pattern Enumeration and Classification (CAPEC™) is the de facto standard to meet this need.

## Proposed Solution

* Add https://raw.githubusercontent.com/mitre/cti/master/capec/stix-cape

[2020-04-10 13:09] cvdsouza opened #85 "Malpedia : Technical error > Cannot read property '"
## Description

Installed the malpedia connector using the release v3.1.0. Seeing openCTI output errors in the logs. Also seeing the same errors on the malpedia connector side

## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.04 ( Manual Installation of OpenCTI)
2. OpenCTI version: 3.1.0
3. OpenCTI client: python connector
4. Other environment details:
Manual installation of OpenCTI an

[2020-04-11 09:16] SamuelHassine opened #86 "[MISP] The connector send only one event instead of all events"
## Description

After processing multiple events, MISP connector send only one.

## Environment

MISP 3.1.0

[2020-04-11 09:25] #86 closed

[2020-04-15 11:03] rhaist commented on #31
I think we might be able to achieve this by using RSS.
E.g. with [feedparser](https://pythonhosted.org/feedparser/introduction.html#)

[2020-04-15 21:07] cvdsouza opened #88 "Error with Cyber Threat Coalition Connector"
## Description

Unable to start the CTC connector to pull data into OpenCTI.

## Environment

1. OS - Ubuntu 18.04
2. OpenCTI version: 3.1.0
3. OpenCTI client: python
4. Other environment details:

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. python3 cyber-threat-coalition.py

## Expected Output

Expected log data indicating successful pull.

## Actual Output

[cod

[2020-04-15 21:59] rguignard commented on #88
I think that the problem is that some URLs in the file https://blocklist.cyberthreatcoalition.org/vetted/url.txt are not well formatted or contains special character. Some one start with double quote and some others contains \ character that need to be escaped

[2020-04-16 14:36] phucsnguyenv opened #89 "'NoneType' object has no attribute 'upper'"
## Description

I am trying run OpenCTI on docker container (not docker-compose) but every connector shows error while being running

'NoneType' object has no attribute 'upper'

## Environment

1. OS (macos 10.13)
2. OpenCTI version: { latest }
4. Other environment details:

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. { clone any connector }
2. { build using `dock

[2020-04-16 21:19] cvdsouza commented on #88
yup , it's the quotes. Will probably need a regex to grab the URLs from the feed.

[2020-04-17 10:09] rhaist commented on #49
Working on this in #90

[2020-04-17 13:01] Rominov opened #93 "MISP Connector - No publication created"
##  Description

I created a MISP Event called "toto". In my docker-compose-yml, i correctly added the opencti-connector lines. The indicators are correctly imported on OpenCTI but there is no publication linked to all this indicators (12k5 IoC's).

Secondly, If my publication in obsolete in MISP. Can i mark my IoC's obsolete if  they are in a publication ?

## Environment

1. OS : Debian 10
2. Op

[2020-04-17 13:09] garanews opened #94 "MISP connector: tags/galaxy NOT imported"
## Description

using the misp connector the galaxy and tags of misp events are not imported in opencti

## Environment

docker
## Reproducible Steps

create an event, tag it
add some attribute (tag also)
add galaxy

## Expected Output

attributes, tags, galaxy retrieved in opencti

## Actual Output

attributes are retrieved but no galaxy and no tags

[2020-04-17 13:14] garanews opened #95 "MISP connector: does it need to see the rabbitmq port?"
## Description

{ Please provide a clear and concise description of the bug. }

## Environment
opencti docker
misp connector launched manually

## Reproducible Steps

Steps to create the smallest reproducible scenario:
launch misp.py

## Expected Output
working

## Actual Output
AMQPConnectorSocketConnectError: timeout("TCP connection attempt timed out: '172.16.2.62'/(<AddressFamily.AF_INET: 2>, <

[2020-04-17 13:20] garanews commented on #94
![image](https://user-images.githubusercontent.com/16938405/79573325-c413e080-80be-11ea-8011-184d8c50016e.png)
![image](https://user-images.githubusercontent.com/16938405/79573361-d3932980-80be-11ea-8c97-ae3a06671874.png)
![image](https://user-images.githubusercontent.com/16938405/79573418-ea398080-80be-11ea-9b3f-54341647e4cb.png)

[2020-04-17 14:21] SamuelHassine commented on #94
@garanews can you check please the indicator linked to the observable and its relationships to threats?

[2020-04-17 14:22] SamuelHassine commented on #94
For other galaxies that are not representing a threat (intrusion set, malware, etc.). I put your question as a feature so we can add corresponding tags.

[2020-04-17 14:27] garanews commented on #94
![image](https://user-images.githubusercontent.com/16938405/79579644-232a2300-80c8-11ea-8952-7653862b7916.png)
![image](https://user-images.githubusercontent.com/16938405/79579669-2b825e00-80c8-11ea-9f16-58fddce5f295.png)
![image](https://user-images.githubusercontent.com/16938405/79579697-350bc600-80c8-11ea-85bf-b9895ef97454.png)
![image](https://user-images.githubusercontent.com/16938405/7957972

[2020-04-17 14:31] SamuelHassine commented on #94
Could you please give me your MISP version number as well as the information about the galaxy you are using (ID, name, namespace, UUID, etc.).

Thanks!

[2020-04-17 14:34] garanews commented on #94
![image](https://user-images.githubusercontent.com/16938405/79580425-443f4380-80c9-11ea-83e5-a921c1505d65.png)

about galaxy, tell me one that should work and I try

[2020-04-17 14:43] garanews commented on #94
![image](https://user-images.githubusercontent.com/16938405/79581307-8d43c780-80ca-11ea-947d-4b966de6bc33.png)

[2020-04-17 14:44] garanews commented on #94
So galaxy working only what you told  (intrusion set, malware, etc.)
What about tags (on event and on attributes?)

[2020-04-17 15:24] cvdsouza commented on #83
I'm getting this same error as well after pulling in the new update

[code]

[2020-04-17 15:41] rhaist commented on #83
Hi - as stated int the Readme the Malpedia connector is "in development" at the moment and not considered to be stable for production use. I am working on a new version at #90 (also work in progress).

[2020-04-20 07:11] SamuelHassine commented on #89
Hello @phucsnguyenv,

Can you give more details, which connector are you testing?

Kind regards,
Samuel

[2020-04-20 07:14] SamuelHassine commented on #81
@amr-cossi (JPSalles), any idea?

[2020-04-20 07:14] phucsnguyenv commented on #89
Hi Samuel,

Virustotal, I tried to run other connector and got the same issue, but this log I get from Virustotal connector.
It's lack of information from the log, but it's only what I get from stdout put from docker container.

Thanks for taking a look..

[2020-04-20 07:20] SamuelHassine commented on #77
Thanks @smclinden and sorry for the delay about answering your first question!

[2020-04-20 07:20] #77 closed

[2020-04-20 08:50] rhaist commented on #89
This error is usually raised if you didn't copy the `config.yml.sampe` to a valid `config.yml`
When there is no valid `config.yml` the OpenCTI helper initialization.
Note: you also need to change `ChangeMe` to valid values.

We might need to improve error output for the python sdk here.

[2020-04-20 10:41] amr-cossi commented on #98
We've started a first version of this connector. The initial goal is to be able to batch create Reports, Entities and Relations based on 3 fixed CSV templates.

[2020-04-20 20:18] JPSALLES commented on #81
I really don't know... It works fine on demo.opencti.io for me.

INFO:root:Listing Threat-Actors with filters null.
INFO:root:Starting ping alive thread
INFO:root:Fetching Cryptolaemus Emotet's datasets...
INFO:root:Connector has never run
INFO:root:Connector will run!
INFO:root:Listing Stix-Domain-Entities with filters [{"key": "name", "values": ["Cryptolaemus Team"]}].
INFO:root:Listing External

[2020-04-21 21:27] cvdsouza opened #99 "[MISP] Separate Display URL for connectors connecting to external threat source"
## Problem to Solve

Going to use MISP as an example :
MISP config file has one config for the url , this URL is utilized to display links to MISP events on the front-end of OpenCTI , as well as used by the connector to hook into MISP and pull events in.

However, in a distributed deployment , there is a possibility that MISP sits on the same or different network or sub-net as OpenCTI, and hence a

[2020-04-22 08:31] Rominov commented on #93
I think i did a mistake, i recreated an event to test again and a report has been created.

[2020-04-22 08:31] #93 closed

[2020-04-22 10:11] garanews commented on #94
Hello @SamuelHassine , did you find some time to review this behavior?

[2020-04-22 19:27] Rickozono opened #100 "How do I enable connectors in the platform?"
I configured de yml file and execute the python file.
I see the connectors in the platform but in the "Data Import" sección there aren't any connecteros enabled, how do I enable connectors?
Do I have to do something more?
![Connectors](https://user-images.githubusercontent.com/51711170/80024883-19346580-84b6-11ea-8694-3ca37dbcc77c.jpg)

[2020-04-22 19:29] cvdsouza commented on #100
does the worker log show that data is being pulled and parsed and pushed ?

[2020-04-22 19:32] Rickozono commented on #100
Sorry but, where can I find the connectors logs?

[2020-04-22 19:34] cvdsouza commented on #100
I usually start my worker manually ``` python3 worker/worker.py``` , and observer the logs, which tells me if the data is getting parsed.

I have noticed that when I start 3 workers, the system detects only 2. But the rabbitMQ shows three consumers and the worker logs show all three working.

[2020-04-22 19:39] Rickozono commented on #100
Thanks for your help!
I didn't start the worker, my bad.

[2020-04-22 20:29] 2xyo opened #101 "Support the use of environment file .env"
## Problem to Solve

In order to separate my configuration from the default configuration of connectors, I would like to start my connectors like this:

[code]
So I can easily separate my minimal config file and keep my connectors updated ;)

# Current Workaround

Update `/opt/opencti-connectors/cve/docker-compose.yml`

[code]

[code]
## Proposed Solution

Define default config of each connector i

[2020-04-23 10:05] 2xyo commented on #101
Fix ready :)

[2020-04-23 15:08] Fred-certeu opened #102 "[MISP] Combination of tags filters"
Please replace every line in curly brackets { like this } with appropriate answers, and remove this line.

## Problem to Solve

Currently the MISP connector allows to import events if they have a specific tag.
It is not possible to import based on a combination of tags

## Current Workaround

{ Please describe how you currently solve or work around this problem, given OpenCTI's limitation. }

## P

[2020-04-23 15:13] rhaist commented on #102
Based on the configuration you can use `MISP_IMPORT_TAGS` to do that.

https://github.com/OpenCTI-Platform/connectors/tree/master/misp#configuration

Example: `MISP_IMPORT_TAGS: "!searchtag:1337"` --> do not import events with tag 1337

[2020-04-23 15:19] Fred-certeu commented on #102
Thanks!
Will try it.

[2020-04-23 15:36] Rickozono commented on #100
Another question, in the ipinfo config.yml file, is the same token of opencti?
opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'IpInfo'
  scope: 'ipv4-addr'
  confidence_level: 3
  log_level: 'info'

**ipinfo:
  token: 'ChangeMe'**
  max_tlp: 'TLP:AMBER'

[2020-04-23 16:15] rhaist commented on #100
IpInfo is a commercial service. You need to buy API access from them.

https://ipinfo.io/

[2020-04-23 17:20] Rickozono commented on #100
Thanks for your help!

[2020-04-23 20:56] jbfeldman opened #103 "OpenCTI API is not reachable from AlienVault Connector"
## Description
I'm looking at developing a connector for openCTI, and I was trying to get the AlienVault connector working so I could understand how it worked and model on it. However, I ran into the error `ValueError: OpenCTI API is not reachable. Waiting for OpenCTI API to start or check your configuration...`

openCTI appears to be working fine on my machine, it's just that AlienVault can't con

[2020-04-23 21:21] rhaist commented on #103
Hi. I usually run into this when opencti itself has not started properly yet. So:

1. elastic needs to start completely
2. grakn needs to start without throwing an error
3. check opencti if its started and lets you log in.

I check the log output of those containers with `docker logs <container name>`.

Hope that helps.

[2020-04-23 21:34] jbfeldman commented on #103
@rhaist thanks for the tip. Grakn logs look good. Found this in the elasticsearch logs which doesn't look good

`{"type": "server", "timestamp": "2020-04-23T21:33:11,357Z", "level": "DEBUG", "component": "o.e.a.s.TransportSearchAction", "cluster.name": "docker-cluster", "node.name": "bbe7225dc6c7", "message": "All shards failed for phase: [query]", "cluster.uuid": "9KXfECBmQ2eCVzrDaYQlDA", "node.i

[2020-04-24 08:02] Woody90 opened #104 "MISP Instance Key"
What kind of value should be put as "MISP Key", and how to get it?

[2020-04-24 08:50] Woody90 commented on #104
So do I have to deploy and install MISP from scratch, to have a web interface, in order to get a key ?

[2020-04-24 08:55] rhaist commented on #104
I don't know if I understand you correctly. As MISP is an PHP application there is no headless version of it. Any MISP instance should have a web-ui. Also any normal user on a MISP platform has an API key.

Just log into the MISP instance you want to import into OpenCTI and go to the Automation page.

[2020-04-24 09:03] rhaist commented on #103
If you use the example docker-compose.yml from the repo:

https://github.com/OpenCTI-Platform/docker/blob/master/docker-compose.yml

all containers should be together in the `default` network. If you want to create your own custom network you can follow the guide over here:

https://docs.docker.com/compose/networking/#specify-custom-networks

[2020-04-24 09:28] Woody90 commented on #104
I tried PyMISP, as per your suggestion, but I still need a MISP URL to access the automation page. I tried the same localhost as MISP URL which I installed PyMISP on it (OpenCTI server), but it does not seem to work that way. That is why I am wondering if I will need a standalone MISP server, and deploy it from scratch, like OpenCTI.

[2020-04-24 09:36] Woody90 opened #105 "Python Math Error: 'NoneType' object is not subscriptable, while enabling connectors"
I have OpenCTI interface up and running. As well as worker, but every time I try to enable any connector, I got below error.
![Error01](https://user-images.githubusercontent.com/6297379/80198044-d393ac00-861f-11ea-8a8a-5658e4117e53.PNG)

[2020-04-24 13:24] jbfeldman commented on #103
@rhaist I was specifically trying to avoid the first solution bc during development I won't have a prebuilt image on dockerhub to pull from for my new connector. But the second solution seems feasible, I'll consider this closed

[2020-04-24 13:24] #103 closed

[2020-04-24 13:30] cvdsouza commented on #104
Yes you need a standalone MISP server that has events in it , OR access to a MISP server with an account and an automation key. For details please see here : https://www.circl.lu/doc/misp/automation/#automation-key

The MISP server can be deployed on the same server as OpenCTI via docker but I wouldn't recommend it, as it can impact performance.

[2020-04-24 14:06] rhaist commented on #105
If you want to start the connector from the commandline please make sure you copy the `config.yml.sample` to `config.yml` and fill in the necessary details.

[2020-04-24 15:45] Woody90 commented on #104
Thank you cvdsouza and rhaist

[2020-04-24 15:45] #104 closed

[2020-04-24 15:52] Woody90 commented on #105
Yes, I have already done that, it does not work.

Here is the config.yml
[Config.txt](https://github.com/OpenCTI-Platform/connectors/files/4530006/Config.txt)

[2020-04-27 08:17] maertv commented on #58
Merged to _master_. Closing issue.

[2020-04-27 08:17] #58 closed

[2020-04-28 13:56] SamuelHassine commented on #105
Hello @Woody90,

I know the error is not really helpful, can you just confirm that your OpenCTI is running on localhost:4000 and the token is correct?

[2020-04-28 13:58] SamuelHassine commented on #102
@Fred-certeu does this solution worked? We will start new works around the MISP connector so I need to know if this is something I need to implement.

[2020-04-28 13:59] #100 closed

[2020-04-28 14:01] SamuelHassine commented on #88
@rguignard, this need a fix or I can close this issue?

[2020-04-28 14:02] SamuelHassine commented on #95
The answer is yes! All connectors must see the RabbitMQ port. They get their configuration through the API, so they will use the RabbitMQ parameters of the main platform configuration.

[2020-04-28 14:02] #95 closed

[2020-04-28 14:05] SamuelHassine commented on #78
@rhaist is currently working on the Malpedia connector (#49), so the connector is currently not ready for production. Please re-open this issue once the connector will be officially released in the [OpenCTI ecosystem](https://www.notion.so/luatix/OpenCTI-Ecosystem-868329e9fb734fca89692b2ed6087e76).

[2020-04-28 14:06] SamuelHassine commented on #83
@rhaist is currently working on the Malpedia connector (#49), so the connector is currently not ready for production. Please re-open this issue once the connector will be officially released in the [OpenCTI ecosystem](https://www.notion.so/luatix/OpenCTI-Ecosystem-868329e9fb734fca89692b2ed6087e76).

[2020-04-28 14:06] #83 closed

[2020-04-28 14:11] SamuelHassine commented on #81
@MathRig please can you tell me which Pycti version are you using `pip3 show pycti` ?

[2020-04-28 14:11] cvdsouza commented on #88
this is still an issue. The problem is URLs such as this :
"http://8.81[.]199[.]35.bc[.]googleusercontent.com/itau/home/webApps_AplicationDevice.php?brazil=<?php%2013:00:12=date('H,i,s,A,z,n,m,u,d,g,o,l');%20echo'13:00:12';%20?>.dll"

The error is occurring when URLs such as the above are being bundled into the indicator :
[code]
My current workaround has been to use the try, except clause, but it

[2020-04-28 14:11] SamuelHassine commented on #85
@rhaist is currently working on the Malpedia connector (#49), so the connector is currently not ready for production. Please re-open this issue once the connector will be officially released in the [OpenCTI ecosystem](https://www.notion.so/luatix/OpenCTI-Ecosystem-868329e9fb734fca89692b2ed6087e76).

[2020-04-28 14:13] SamuelHassine commented on #99
Thanks for this very clear feature requests, we will work on it.

[2020-04-28 14:14] SamuelHassine commented on #88
We fixed a problem with URLs import in the version 3.2.0. Are you using this version?

[2020-04-28 14:15] #89 closed

[2020-04-28 14:22] MathRig commented on #81
Hi,

Here the output:

$ pip3 show pycti
Name: pycti
Version: 3.0.3
Summary: Python API client for OpenCTI.
Home-page: https://github.com/OpenCTI-Platform/client-python
Author: OpenCTI
Author-email: contact@opencti.io
License: Apache
Location: /usr/local/lib/python3.6/site-packages
Requires: requests, PyYAML, python-dateutil, datefinder, stix2, stix2-validator, pytz, pika, deprecated, python-magic

[2020-04-28 14:24] cvdsouza commented on #88
yes, I still see the error. I upgraded to 3.2.0 an hour back. Still seeing this :

[code]

[2020-04-28 14:46] SamuelHassine commented on #88
Yes I think it is an error of the connector itself. @rguignard any idea to fix it in the connector?

[2020-04-28 15:04] JPSALLES commented on #81
I think it is the problem here. My pycti version is 3.1.0.

[2020-04-28 15:13] SamuelHassine commented on #81
The last version is 3.2.0 with OpenCTI platform 3.2.0 released today. I advise you to upgrade all and re-try.

[2020-04-28 15:19] garanews commented on #94
same behavior also with v3.2.0:
misp event tlp is imported
galaxy is imported
misp event tags are not imported
misp attribute tags are not imported

[2020-04-28 15:27] SamuelHassine commented on #94
I am working on it for the next release.

[2020-04-29 02:40] phucsnguyenv opened #110 "Developing new connectors"
This is not a bug request but a question. I just dont know where to post...

Hi, I am planning to develop a connector. and looking at example of IPInfo connector and I have a few question, hope you can help addressing.

1. `_process_message` function
- here is defination

[code]

- but while calling, I dont see you put `data` parameter as defined.
`       self.helper.listen(self._process_message)`

[2020-04-29 02:47] phucsnguyenv commented on #110
I am also taking a look at this https://github.com/OpenCTI-Platform/connectors/pull/107 as well

[2020-04-29 09:27] remydewa opened #111 "[LastInfoSec] Create the connector"
**Feature description**

**LastInfoSec** is a young startup founded by three cyber defence experts. Their main objective is to become a leader in automated intelligence on subjects like cybercrime and cyberwar.

**LastInfoSec's Threat Feed** is a data feed that makes it easier to detect threats within the information system. It contains enriched compromised evidences in order to reduce the time of

[2020-04-29 13:39] tdr0 commented on #88
Hi,

An approach would be to use `urlencode()`. I've made a patch for this to try it out and works without errors.

However, on the front-end, all URLs appear encoded. For example, the offending URL @cvdsouza posted above, now appears as:

[code]

You can check it out here: https://github.com/tdr0/connectors/commit/2dc40ae119f1e421ca52ab9e2606e71f04e206f8

If its ok i can make a PR.

[2020-04-30 10:31] SamuelHassine commented on #94
Fixed: https://demo.opencti.io/dashboard/reports/MISP_event.

Will be in the 3.2.1.

[2020-04-30 10:32] SamuelHassine commented on #60
This issue will be fixed after the STIX 2.1 migration.

[2020-04-30 10:32] SamuelHassine commented on #88
WDYT @rguignard?

[2020-04-30 11:30] garanews commented on #94
I'm testing it, so with 3.2.1:
misp event tlp is imported
galaxy is imported
misp event tags are imported
misp attribute tags are **not** imported

![image](https://user-images.githubusercontent.com/16938405/80705414-abf08800-8ae6-11ea-9615-85abb3bfbd50.png)

[2020-04-30 11:48] garanews commented on #94
ok probably got it: attribute tags not present under observables:

![image](https://user-images.githubusercontent.com/16938405/80706722-14d8ff80-8ae9-11ea-9372-04699ca025fe.png)

but under indicators:

![image](https://user-images.githubusercontent.com/16938405/80706833-4356da80-8ae9-11ea-983e-17881f62de2c.png)

[2020-04-30 11:55] SamuelHassine commented on #94
Ok, this will be fixed in the next release.

[2020-04-30 11:55] SamuelHassine commented on #94
The attribute tags will be added in indicators AND observables.

[2020-04-30 12:05] garanews commented on #94
There is a way to update all data after this feature (in order to do not delete and import again)?

[2020-04-30 16:30] RomainGUIGNARD commented on #88
Sorry, i dont' see the message of @tdr0.
I implement the same solution, see PR: https://github.com/OpenCTI-Platform/connectors/pull/115.

1. Encode URL
2. Surround the indicator creation with a try/except in order to not block the connector

[2020-04-30 16:41] rguignard commented on #88
Sorry, i dont' see the message of @tdr0.
I implement the same solution, see PR: #115.

Encode URL
Surround the indicator creation with a try/except in order to not block the connector

[2020-05-01 18:32] SamuelHassine commented on #94
Solved in https://github.com/OpenCTI-Platform/client-python/issues/80.

[2020-05-01 18:32] #94 closed

[2020-05-01 18:38] SamuelHassine commented on #111
@remydewa please can you make a PR with much more documentation in the README?

- Description of the LastInfoSec feed
- Description of the parameters (even the default ones)
- Maybe a logo/header

[2020-05-01 20:00] SamuelHassine commented on #94
@garanews: In the next version, the tags will be updated if you re-inject the data. So you will need to reset the import but do not delete anything.

[2020-05-02 04:29] phucsnguyenv opened #117 "How to delete bundle with a connector"
Hi team,

I am trying to develop a connector to add IP blacklist. I am thinking about updating the list:
- pull the new list
- delete all indicators (from source) that added to OpenCTI
- update the new list

So I think I will create a stix bundle to ship all indicator `ipv4-addr` at a same time and store the bundle ID then at the next update, I can deleted the previous bundle.

Is this possible wi

[2020-05-02 14:38] remydewa commented on #111
@SamuelHassine I did it in this pull request:
https://github.com/OpenCTI-Platform/connectors/pull/122

Don't hesitate to come back to me if needed.

Many thanks,

Rémy

[2020-05-02 16:11] cvdsouza commented on #88
Pulled the updated connector , and it's pulling the data in. Thank you very much for fixing it.

[2020-05-02 16:11] #88 closed

[2020-05-02 16:12] cvdsouza commented on #85
PUlled the updated connector, and it's pulling in data. Thanks for the update.

[2020-05-02 16:12] #85 closed

[2020-05-02 17:33] rhaist commented on #49
I think we can consider this done @SamuelHassine ?

[2020-05-02 21:02] Woody90 commented on #105
@SamuelHassine
Yes, confirmed.
OpneCTI is running on localhost:4000
Token is correct.

[2020-05-03 02:31] Woody90 opened #123 "Connector ID Value"
What value should be put in "CONNECTOR_ID=ChangeMe" ?

[2020-05-03 07:59] rhaist commented on #123
The connector id should be a valid uuid4.

You can generate them here:

https://www.uuidgenerator.net/version4

[2020-05-04 06:43] phucsnguyenv opened #125 "TypeError: 'NoneType' object is not subscriptable"
## [Connector] TypeError: 'NoneType' object is not subscriptable

Hi, I am creating a connector that import ipv4 from a file then create observable and indicators from that.

- Here is folder list
[code]
- My main code
[code]
- config
[code]
Now when I run this code by `$ python3 ip.py`, it returns error
[code]
## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.04
2. OpenCTI version: 3.1

[2020-05-04 07:19] garanews commented on #94
Do you mean in 3.2.3?
I would try it:  any chance to bump the docker version?

[2020-05-04 09:17] V1D1AN opened #126 "[Malpedia] 'NoneType' object is not subscriptable"
## Description

I have an error with the malpedia connector

## Environment

1. OS (where OpenCTI server runs): CentOs
2. OpenCTI version: OpenCTI 3.2.1
3. OpenCTI client: frontend
4. Other environment details: Run with docker swarm

## Reproducible Steps
git clone .https://github.com/OpenCTI-Platform/connectors.git
cd connectors/malpedia
docker build -t connector-malpedia:3.2.1 .

I have update m

[2020-05-04 12:36] fsnormand commented on #111
Hello ,
I tested your modifications on our connector.
However, we have an error "dict could not use the encode function", because you deleted the json.dumps function to convert the dict to string.
I added the json.dumps but you changed the bundle STIX sent function too and now we cannot integrate data in the platform.
Could you fix these issues or rollback with the self.api.stix2.import_bundle_fro

[2020-05-04 12:53] tdr0 opened #127 "Create CYBERCRiME-TRACKER.NET connector"
## Problem to Solve

CYBERCRiME-TRACKER.NET is a C2 tracker that provides daily updates.
It would be nice to create a connector to import data (url, ip, domain, malware type) into OpenCTI.

## Proposed Solution

Data from the tracker can be obtained via RSS (http://cybercrime-tracker.net/rss.xml)

[2020-05-04 13:09] SamuelHassine commented on #111
I will fix this, is it possible to come on Slack channel and give us in private access to your API so we can do more tests?

[2020-05-05 20:23] powerade661 opened #129 "[import-file-pdf] Import PDF reports with sanitized data"
## Problem to Solve

OpenCTI currently will not ingest data with [.] It is very common for reports to sanitize their URLs and IPs. e.g. 191[.]XXX[.]XXX[.]XXX hxxps://totallynotmalicious[.]com

## Current Workaround

Remove [.] And then import data into OpenCTI

## Proposed Solution

Remove [.] And replace with nothing. To make the URL unsanitized https://totallynotmalicious.com vs hxxps://totallyn

[2020-05-06 11:33] jlequen commented on #126
I have the same problem

[2020-05-07 07:06] phucsnguyenv commented on #125
Hi, I believe this error return from `graphql`
```INFO:root:{"errors":[{"message":"An unknown error has occurred!  Please try again later.","name":"Unknown","time_thrown":"2020-05-04T06:34:07.701Z","data":{"type":"technical","level":"error"}}]}```

I tried to pull `pycti 3.2.3` but the issue still persist.
*The code currently used
[code]

Could you please take a look.

[2020-05-07 20:03] SamuelHassine commented on #129
@CGarat do you think you can upgrade your connector? As @powerade661 said, we have implemented in the latest version REGEX on observables to normalize data in OpenCTI. Is it possible for you to re-militarize demilitarized observables?

[2020-05-08 10:06] rbnor opened #131 "Misp connector sync sightings"
Please replace every line in curly brackets { like this } with appropriate answers, and remove this line.

## Problem to Solve

Sightings should be synced between openCTI and MISP.

## Current Workaround

Add both places
## Proposed Solution

Add a sync on this

## Additional Information

{ Any additional information, including logs or screenshots if you have any. }

[2020-05-08 10:08] richard-julien commented on #126
Can you check the log on opencti side? Thanks

[2020-05-08 10:11] V1D1AN commented on #126
it works for the moment with Import yara to false.
i will check with import yara to True.

P.S. : Merci pour votre taf, un super outil ;)

[2020-05-08 10:13] richard-julien commented on #125
Hi @phucsnguyenv, can you check the logs on opencti side? Thanks

[2020-05-08 10:14] #123 closed

[2020-05-08 10:14] rhaist commented on #126
I fixed a couple of bugs yesterday. Please test with the current :rolling container or the  code on master.

[2020-05-08 10:19] richard-julien commented on #117
Hi @phucsnguyenv ,

Can you explain a bit more the concept? Im not sure to clearly see what you want to do.
Do you want to delete ipv4 in openCTI because they are blacklisted? Do you want to listen every ipv4 from opencti, ask a remote source if the ip is blacklisted and then add a blacklisted tag in opencti for this ipv4?

Thanks

[2020-05-08 10:21] SamuelHassine commented on #131
This will be in the next version of the MISP connector.

[2020-05-08 10:22] rbnor commented on #131
Awesome, you guys really are unstoppable!

[2020-05-08 11:16] V1D1AN commented on #126
I have an error with yara import to yes
[code]

[2020-05-09 11:02] CGarat commented on #129
@SamuelHassine Sure, this seems like a high priority issue. However, I'm working on other projects right now, not sure I'll be able to deal with this myself shortly. Additionally, this connector could be improved in a few more ways (lower priority), as it was initially developed almost a year ago (e.g. adding relationships, tags, detecting a TLP if there's any in the report...).

[2020-05-11 01:18] phucsnguyenv commented on #117
Hi @richard-julien

Thanks for getting back.

`ask a remote source if the ip is blacklisted and then add a blacklisted tag in opencti for this ipv4` this is  nearly correct, as a remote source if the ip is blacklisted then add it to opencti as an indicator.

and I want to delete this IPv4 in case if the remote host  remove it from the blacklist in the blacklist. So I afraid that, an indicator will

[2020-05-11 01:21] phucsnguyenv commented on #125
hi @richard-julien

It's correct. Because if I use `Indicator` and `Bundle` method from `stix2` library and send the bundle with `helper.send_stix2_bundle`, I can send the data

[2020-05-11 02:15] phucsnguyenv commented on #117
Hi @richard-julien

Could you please address me this question https://github.com/OpenCTI-Platform/connectors/issues/110

Thanks.

[2020-05-11 15:44] richard-julien commented on #110
Hi @phucsnguyenv ,

* but while calling, I dont see you put data parameter as defined.
A lot of mechanics are done under the hood by the helper by defining your connector as a INTERNAL_ENRICHMENT connector. At startup the connector will create a specific queue in rabbitMQ to listen elements defined in the configured scope (ipv4-addr for ipinfo). Then your connector just have to call the self.helpe

[2020-05-11 15:45] richard-julien commented on #117
Lets continue on https://github.com/OpenCTI-Platform/connectors/issues/110 or Slack.

[2020-05-11 15:45] #117 closed

[2020-05-11 18:48] campeador opened #132 "Error Misp connector with old Misp instance"
## Description

{ Depend of MISP instance version the Misp connector will fail if you use the recommended PyMisp library. You have to use a older version of PyMisp like  2.4.114 -> https://pypi.org/project/pymisp/#history }

## Environment

1. OS:  {Ubuntu 16.08, etc. }
2. OpenCTI version: { OpenCTI 3.2.2 }
3. OpenCTI client: { frontend  }
4. Other environment details:

## Reproducible Steps

Step

[2020-05-12 07:53] razzeshsingh opened #133 "OpenCTI workers and connectors showing error in dashboard "An unknown error occurred. Please contact your administrator or the OpenCTI maintainers.""
![error](https://user-images.githubusercontent.com/47380145/81655651-3c826e80-93eb-11ea-9c10-ecd027ee02ee.jpg)
OpenCTI workers and connectors showing error in dashboard "An unknown error occurred. Please contact your administrator or the OpenCTI maintainers."

here is the output of MISP Connector:

[root@localhost src]# **python3 misp.py**
INFO:root:Listing Threat-Actors with filters null.
INFO:ro

[2020-05-12 07:57] phucsnguyenv commented on #125
I tried to use `Playground` on opencti web app and use the following `mutation` to test adding `File-MD5`
[code]
It's working, but if I use the same `mutation to add `ipv4-addr`, It failed with the following output
[code]
grakn_1                                  | 2020-05-12T07:51:20.527545852Z 2020-05-12 07:51:20,192 [transaction-listener] ERROR g.c.s.r.SessionService$TransactionListener - Runtim

[2020-05-12 08:04] richard-julien commented on #125
Can you specified the version of OpenCTI you used? thanks

[2020-05-12 12:45] cvdsouza commented on #133
what does the OpenCTI index.js logs say when you get this error ?

[2020-05-12 18:44] razzeshsingh opened #136 "after rebooting the node OPencti Dashboard not able to up"
[root@srv-jpr-octi-01 opencti]# yarn serv
yarn run v1.22.4
$ node --max_old_space_size=8192 build/index.js
{"message":"[PRE-CHECK] > Grakn is alive","level":"info"}
{"message":"[PRE-CHECK] > ElasticSearch is alive","level":"info"}
{"message":"[PRE-CHECK] > Minio is alive","level":"info"}
{"message":"[PRE-CHECK] > RabbitMQ is alive","level":"info"}
{"message":"[PRE-CHECK] > Redis is alive","level":

[2020-05-12 21:16] #136 closed

[2020-05-12 21:17] razzeshsingh commented on #133
after update the rabbitmq version issue has been resolved.

[2020-05-12 21:17] #133 closed

[2020-05-12 21:44] TechBurn0ut opened #137 "Crowdstrike connector failing to connect to OpenCTI"
Please replace every line in curly brackets { like this } with an appropriate answer, and remove this line.

## Description

{ Crowdstrike connector is failing to connect to OpenCTI, even though OpenCTI is up and running.   }

## Environment

1. OS (where OpenCTI server runs): { AWS Ubuntu / docker }
2. OpenCTI version: { OpenCTI 3.2.2 }
3. OpenCTI client: { python }
4. Other environment details:

[2020-05-12 22:07] rhaist commented on #137
Hey. This error usually occurs when either the api is not up yet or the opencti url is wrong. Please look at the logs of the opencti platform, grakn and elasticsearch containers by using:

`docker ps` to list all containers
`docker logs <container name>`

To see if there are any errors preventing opencti to start. If the Web UI is running it is probably the connector config.
Could you share it wit

[2020-05-13 01:13] phucsnguyenv commented on #125
Thanks for getting back.

Here is version of stack that I used
OpenCTI: `3.0.3`
GRAKN `1.6.2`
Elasticsearch `7.5.2`
RabbitMQ `3.7.17`
Redis `5.0.8`
Minio `RELEASE.2019-10-12T01-39-57Z`

[2020-05-13 09:17] richard-julien commented on #125
Can you please upgrade to the latest openCTI version? Lot of bugs fixed since the 3.0.3. Thanks

[2020-05-13 09:46] TlcTac opened #139 "[CrowndStrike] - error: (403) access denied, authorization failed"
## Description
I'm integrating the CorwdStrike connector to the OpenCTI platform, but it's not working.
Indeed, even though I modified the docker file,  I get the following logs from the CrowdStrike container :
[code]

## Environment

1. OS : Linux Mint 19.1 Tessa
2. OpenCTI version: OpenCTI 3.2.1
3. OpenCTI client: frontend

## Reproducible Steps

Steps to create the smallest reproducible scenari

[2020-05-13 10:07] maertv commented on #139
Do you have access to the OAuth2 Indicators API?

The client's rights image does not seem to include _Indicators (Falcon X)_. _Indicators (Falcon X)_ is required to access the OAuth2 Indicators API, as far as I know.

[2020-05-13 15:36] TechBurn0ut commented on #137
This is all that I get from the connector itself:

`INFO:root:Scope 'actor' is not enabled
INFO:root:Scope 'report' is not enabled
INFO:root:Scope 'indicator' is not enabled
INFO:root:Scope 'yara_master' is not enabled
INFO:root:Storing new state: {'last_run': 1589382280}
INFO:root:State stored, next run in: 1800 seconds
INFO:root:Loaded state: {'last_run': 1589382280}
INFO:root:Connector will not

[2020-05-13 15:54] rhaist commented on #137
you are missing:
`      - CROWDSTRIKE_SCOPES=actor,report,indicator,yara_master`

please have a look at:

https://github.com/OpenCTI-Platform/connectors/blob/master/crowdstrike/docker-compose.yml

[2020-05-14 01:33] phucsnguyenv commented on #125
I just need to pull new docker image right? Will my data be persisted?

[2020-05-14 04:09] phucsnguyenv commented on #125
I updated the latest version of OpenCTI and here is the outcome
`GrapQL`
[code]

[code]

[code]

[2020-05-14 07:21] phucsnguyenv commented on #125
I think I have to type `IPv4-Addr` instead of `ipv4-addr`. It's case-sensitive, isn't it?

[2020-05-14 07:52] richard-julien commented on #125
secondary_motivation is not a field existing in StixObservableAddInput. Are you sure this error is related to your stixObservableAdd call? Could you clear your logs and test again? Thanks

[2020-05-14 08:54] csandu-certeu commented on #102
Thanks @rhaist  and sorry for late reply. We have tested it but the negation is not working. I might be wrong, but by checking the connector's code https://github.com/OpenCTI-Platform/connectors/blob/master/misp/src/misp.py#L129, it seems like only OR condition is being build to be passed to "misp.build_complex_query"

"and_paramters" and "not_parameters" are not being built: https://pymisp.readth

[2020-05-14 08:58] SamuelHassine commented on #102
Ok @csandu-certeu we will fix that.

[2020-05-15 02:20] phucsnguyenv opened #141 "Cannot read property 'map' of null","locations":[{"line":4,"column":25}],"path":["reportEdit","relationAdd"],"
## Description

Error while adding observables to a report

## Environment

1. OS (where OpenCTI server runs): Ubuntu 20.4
2. OpenCTI version: 3.2.2
3. OpenCTI client: pycti `3.2.3`

## Reproducible Steps
I am trying to execute this code to and an observable to a report
[code]
But I got the following error
[code]

I try to use `graphql` on web client. The query I use is copied from the `pycti` lib

[2020-05-15 02:30] phucsnguyenv commented on #125
hmmm, I am sure this log I get is after execute the stixObserbaleAdd call. I try again
[code]
Change `ipv4-addr` to `IPv4-Addr`, and it works for me.
I tried to test with GraphQL directly and the same issue happened.
So the solution for me is reformat the `type` of observable before sending it.

Thanks for your help

[2020-05-15 07:16] V1D1AN opened #142 "[ MISP ] Bug Import Sigma rules"
# Bug Import Sigma rules

Hi eveybody, i have a problem with the import of sigma rules in OpenCTI

## Environment

1. OS (where OpenCTI server runs): CentOS 7
2. OpenCTI version: 3.2.2
3. OpenCTI client: frontend
4. Other environment details: Docker-ce

## Reproducible Steps

I use the script sigma2misp for import my Sigma rules into MISP
I have an event in MISP with my sigma rules.
I tag my event

[2020-05-15 08:57] rhaist commented on #142
This really is a corner case @V1D1AN - misp2sigma is even "unofficial" in the MISP universe and now you have a double conversion to OpenCTI. There is no STIX2 pattern type for Sigma and thus OpenCTI has no current way of supporting this, sorry.

Maybe, with enough demand for Sigma support this might be added to the roadmap by @SamuelHassine.

[2020-05-18 15:30] maertv commented on #139
Closing the issue.

[2020-05-18 15:30] #139 closed

[2020-05-20 02:08] phucsnguyenv commented on #110
Hi @richard-julien ,

Thanks for your explanation.
In short, if I run an INTERNAL_ENCRICHMENT with scope `ipv4-addr`, so everytime I add an observable  type `ipv4-addr` it calls the `self.helper.listen(self._process_message)` with data is the element that has just been created. The same thing will happen with other scope config.

I think I can understand this scenario. Thank you very much.

[2020-05-20 12:39] maertv opened #143 "[CrowdStrike] Document configuration parameters in README"
## Description

Document the OpenCTI CrowdStrike connector specific configuration parameters in the README.

[2020-05-20 12:41] maertv opened #144 "[AlienVault] Document configuration parameters in README"
## Description

Document the OpenCTI AlienVault connector specific configuration parameters in the README.

[2020-05-21 07:47] V1D1AN commented on #142
Thanks for your response,

How do you import Sigma rules in OpenCTI  ????

[2020-05-22 21:28] #144 closed

[2020-05-24 19:59] #143 closed

[2020-05-24 20:05] SamuelHassine commented on #141
Hello @phucsnguyenv, please use the stix_observable OpenCTI ID in `stix_observable_id=created_observable_stix_id`and not the STIX ID. For the moment, in all OpenCTI "relation" related method, only the OpenCTI ID is supported. We intend to change that and to support both STIX ID and OpenCTI.

[2020-05-24 20:06] SamuelHassine commented on #98
@amr-cossi Any update on this connector?

[2020-05-24 20:17] SamuelHassine commented on #125
Hello,

We clearly lack of documentation in this case and we are sorry for that. There are 2 problems in your source code, the TLP and the createIndicator (Boolean).

For the TLP, you have to pass a list of TLP OpenCTI IDs. You can get them by using the official TLP STIX ID or by searching them directly:

[code]

Then:
[code]

[2020-05-24 20:22] SamuelHassine commented on #132
@campeador we are sorry but for the moment we do not intend to maintain the MISP connector for old MISP versions, we will keep this connector up-to-date with the latest PyMISP lib.

You can still fork the connector and try to adapt it to older version, it should not be a big deal since we are using only one or two methods from the PyMISP lib (`search`), the rest of the connector is pure OpenCTI co

[2020-05-24 20:22] #132 closed

[2020-05-24 20:23] SamuelHassine commented on #129
Thanks a lot @CGarat for your work!

[2020-05-24 20:23] #129 closed

[2020-05-25 06:33] phucsnguyenv commented on #125
Many thanks,

It's very clear. I just follow some codes from existing connector so it has some bugs at the first place.

[2020-05-25 14:58] SamuelHassine commented on #125
Yes, these bugs have been solved now ;)

[2020-05-25 14:59] SamuelHassine commented on #125
Is this working now?

[2020-05-25 14:59] SamuelHassine commented on #137
@TechBurn0ut Is your problem now solved?

[2020-05-25 15:00] #127 closed

[2020-05-25 15:01] #101 closed

[2020-05-25 15:08] rhaist commented on #126
Hey @V1D1AN could you please test with the latest rolling release?
There where improvements from @SamuelHassine on the python client and I also improved the connector.

[2020-05-25 15:31] rhaist commented on #105
I can only guess from this data, sorry.
Every connector has python3 requirements did you install all of them?

[2020-05-26 05:42] V1D1AN commented on #126
Hi,

With the last version, malpedia don't work.

[code]

I have delete the url of malpedia in the docker-compose..
Now, even if i put "true" or "false" in import YARA and import actor,

Malpedia don't work

[2020-05-26 11:38] Sh311c0d324 opened #150 "MISP Connector no longer working after upgrading to the latest version of PyCTI"
## Description

When running the misp connector, it throws an error of string indices must be integers.

## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.04.04
2. OpenCTI version: Latest
3. OpenCTI client: 3.2.7
4. Other environment details:

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. Upgrade to PyCTI 3.2.7
2. Run the MISP Connector
3. Error thrown

!

[2020-05-26 16:01] #150 closed

[2020-05-26 16:22] TechBurn0ut commented on #137
Yes it did.  Thanks for the follow up!

[2020-05-26 16:23] #137 closed

[2020-05-26 21:10] SamuelHassine commented on #126
Yes @V1D1AN, this is a new field that is for the moment only in the master branch. Please wait for the final release of the 3.3.0.

[2020-05-27 06:46] phucsnguyenv commented on #125
Many thanks,

I have not tried yet, but I believe this would work. As I can see the problems in my code :D.
I will try this next week.

I think we ca close this issue here...

Thanks again.

[2020-05-27 06:46] #125 closed

[2020-05-28 08:47] andurin opened #151 "[MISP Connector] Ignoring Filter but code seems to be fine"
## Description

While using the latest (docker rolling) MISP Connector and also previous ones the MISP Connector / PyMISP seems to ignore the filter.

## Environment

1. OS (where OpenCTI server runs): Ubuntu 16
2. OpenCTI version: OpenCTI 3.2.2
3. OpenCTI client: { e.g. frontend or python }
4. Other environment details:

## Reproducible Steps

Steps to create the smallest reproducible scenario:

[2020-05-29 08:14] phucsnguyenv commented on #141
Hi @SamuelHassine

Thanks for reverting...
I see the problem in the code.. I will fix it...
anw, I would like to contribute the connector which I have done, can I?

[2020-05-29 10:25] TlcTac opened #153 "[Malpedia] Error:root:error in malpedia API health check"
## Description

Error when launching the Malpedia connector.

## Environment

OS : Linux Mint 19.1 Tessa
OpenCTI version: OpenCTI 3.3.0
Malpedia version : opencti/connector-malpedia:3.3.0

## Reproducible Steps

1. Modify the docker-composite to add the malpedia connector :
![image](https://user-images.githubusercontent.com/32235552/83248982-3095fb00-a1a6-11ea-82fb-b91c150e1c87.png)

2. Launch the

[2020-05-29 10:46] rhaist commented on #153
It seems like the initial health check fails which could indicate that the container can not connect to the internet. Do you have a host-only docker setup?

[2020-05-29 11:20] TlcTac commented on #153
Not as far as I know. And I didn't have a problem with the other connectors.
If I look at the docker's network, with `docker network ls`, nothing suggests it :
![image](https://user-images.githubusercontent.com/32235552/83254303-e2d1c080-a1ae-11ea-8020-e479486d32a2.png)

[2020-05-29 14:04] garanews commented on #153
I have same error:
`INFO:root:Listing Threat-Actors with filters null.
INFO:root:Starting ping alive thread
INFO:root:loaded malpedia config: {}
ERROR:root:error in malpedia API health check
INFO:root:Reading Marking-Definition {marking-definition--f88d31f6-486f-44da-b317-01333bde0b82}.
INFO:root:Listing Stix-Domain-Entities with filters [{"key": "name", "values": ["Malpedia"]}].
INFO:root:startin

[2020-05-29 14:23] rhaist commented on #153
Can you try set the following config parameter and try again:

`MALPEDIA_BASE_URL=https://malpedia.caad.fkie.fraunhofer.de/`

I removed it because it should default in the code but give it a try please.

[2020-05-29 14:40] TlcTac commented on #153
Unfortunately it's not working.
Besides, by relaunching Malpedia several times, I made another error, maybe this can help you?
![image](https://user-images.githubusercontent.com/32235552/83271902-c3489100-a1ca-11ea-9dc9-a8cd43c0c9dc.png)

But most of the time I get this error (detailed above) :
`ERROR:root:error in malpedia API health check
[...]
ERROR:root:'version'`

[2020-05-29 14:42] rhaist commented on #153
It tries to resolve ....frauenhofer.fr but it should be frauenhofer.de. This smells like DNS problems.

[2020-05-29 14:59] TlcTac commented on #153
Indeed, I made a mistake when I copied your url in docker-compose.yml

[2020-05-29 15:43] garanews commented on #153
FYI outside the docker launched script manually and it works.
Inside the docker also launching manually same error.

[2020-05-29 19:35] mbaker2111 opened #154 "[iSight Partners/FireEye Intel] Create the connector"
Requesting a connector for FireEye Intel.

[2020-05-29 19:49] SamuelHassine commented on #154
This connector is under creation in partnership with FireEye.

[2020-05-31 12:30] SamuelHassine opened #156 "[alienvault] Error running the connector"
Starting from 2016, I am not able to run the AlienVault connector:

Configuration is:
[code]

[code]

Then the connector just restart from the beginning:

[code]

Starting from 2017-01-01 is working well.

[2020-05-31 12:34] SamuelHassine commented on #153
We just merged the fix, could you please try with the `rolling` version of the Docker image?

[2020-05-31 16:55] SamuelHassine opened #157 "[AlienVault] Guess CVE from tags"
## Problem to Solve

Currently, if a CVE name is in a tag, it will be imported as a tag.

## Current Workaround

None.

## Proposed Solution

Creation a relationship between Intrusion-Set/Malware to a Vulnerability with a "targets" relation.

## Additional Information

None.

[2020-06-01 10:46] secufred opened #158 "[Connectors cybercrimetracker] wrong docker image in the dockercompose.yml"
the connectors/cybercrimetracker/docker-compose.yml have as image *opencti/opencti/connector-cyber-crime-tracker*:3.3.0 which is not the correct name, to use the opencti image it should be *opencti/connector-cybercrimetracker*:3.3.0

[2020-06-02 08:29] TlcTac commented on #153
I just tested with the rolling version you updated but the error is still there for me.
(I checked before the digest was the same of rolling version you updated two days ago)

[2020-06-03 03:51] 15271843622 opened #160 "When running alienvault connector alone, an error is encountered"
Please replace every line in curly brackets { like this } with an appropriate answer, and remove this line.

## Description

Opencti platform is running normally. When running alienvault connector alone, an error is encountered. The following is the configuration screenshot and error report

## Environment

1. OS (where OpenCTI server runs): {  Ubuntu 19.10 }
2. OpenCTI version: { e.g. OpenCTI 3.2

[2020-06-03 05:46] 15271843622 commented on #105
Python3 and components are installed correctly, but this problem is also encountered
![mite error](https://user-images.githubusercontent.com/41221477/83600192-9caaa180-a5a0-11ea-8f19-8caf33691677.png)
![cve error](https://user-images.githubusercontent.com/41221477/83600196-9ddbce80-a5a0-11ea-97fb-c08d4bcb09f4.png)

[2020-06-03 06:44] maertv commented on #160
@15271843622, please attach the exact configuration file (i.e., _config.yml_, remove your credentials beforehand) which causes this error.

Based on the picture is hard to say what is wrong because the error suggests that the _alienvault.report_status_ configuration parameter is missing from the file which does not seem to be the case. Also make sure that the environment variable _ALIENVAULT_REPOR

[2020-06-03 06:54] maertv commented on #157
@SamuelHassine, by "Guess CVE from tags" do you mean something as simple as checking if the tag starts with _CVE-_ or do you have something more elaborate in mind?

Do you think that it is should be a configurable feature, i.e, _guess_cve: true_ in the _config.yml_?

Could you please provide an example pulse that has a CVE as a tag?

[2020-06-03 07:21] #110 closed

[2020-06-03 07:27] 15271843622 commented on #160
After the restart, the problem has been solved. Thank you

[2020-06-03 07:43] maertv commented on #160
You're welcome.

Closing the issue.

[2020-06-03 07:43] #160 closed

[2020-06-03 08:29] #158 closed

[2020-06-05 10:31] secufred commented on #153
Got the same error

[2020-06-05 10:43] secufred commented on #153
I'll try to investigate this but I got a workaround linked to this specific 'error version' ... the issue seems ( at least to be in the function current_version
I've replaced the return int(...) by a return 5757 ( which is the current version number )
then it's going further so probably some issues in the parsing of the response from the website

[2020-06-05 10:46] secufred commented on #153
empty token ( or invalid token ) seems to give back a {'detail': 'Invalid token.'} , so no version details accessible

[2020-06-05 11:22] secufred commented on #153
solved my issue by removing the " around the API key
->  MALPEDIA_AUTH_KEY=azertyuio in place of MALPEDIA_AUTH_KEY="azertyuio"
for the empty key, still need to investigate

[2020-06-05 11:23] SamuelHassine commented on #153
@secufred: we just released the 3.3.1 version of the connector, it should the problem in any case. Please let us know!

[2020-06-05 11:26] SamuelHassine commented on #126
This problem should now be solved with the latest release 3.3.1. Please feel free to re-open if you have any problems.

[2020-06-05 11:26] #126 closed

[2020-06-05 11:28] #153 closed

[2020-06-05 11:41] rhaist commented on #153
You are right @secufred : the example docker compose should say:

[code]

The `""` need to be removed. I'll fix the documentation and the example file.

If I test the API with curl and no auth key I can access the version so this is not the problem:

[code]

[2020-06-05 14:39] SamuelHassine commented on #141
Yes please contribute!

[2020-06-05 14:39] #141 closed

[2020-06-05 14:40] SamuelHassine commented on #105
Hello, please @15271843622 can you copy/paste here your `config.yml` file?

[2020-06-05 14:40] SamuelHassine commented on #49
Yes! Thanks for your amazing work!

[2020-06-05 14:40] #49 closed

[2020-06-05 16:04] secufred commented on #153
@rhaist : please do the same for the valhalla one :), I did indeed fixed it for both by removing the "

[2020-06-08 07:46] maertv commented on #156
@SamuelHassine, can you please verify that the problem is solved?

[2020-06-10 10:33] CGarat opened #166 "Add documentation on parameter CONNECTOR_UPDATE_EXISTING_DATA"
## Problem to Solve

All the generic parameters are described in the documentation, except for "CONNECTOR_UPDATE_EXISTING_DATA". What does it imply exactly?

## Proposed Solution

I would suggest adding a row to the following table in the documentation:

![image](https://user-images.githubusercontent.com/54581347/84257979-79d73a80-ab16-11ea-8318-1a94a40271a6.png)

[2020-06-23 10:13] SamuelHassine commented on #156
Yes it is! Thanks a lot @maertv

[2020-06-23 10:13] #156 closed

[2020-06-23 10:13] #157 closed

[2020-06-23 10:23] #131 closed

[2020-06-24 06:56] SamuelHassine commented on #151
@rhaist I think this issue is now solved?

[2020-06-24 06:58] andurin commented on #151
@rhaist Did you find something I've missed?

[2020-06-24 07:00] rhaist commented on #151
MISP accepts multiple date formats for different parameters in the same API.
I had to dig into the pymisp code to find out that date `from` and `to` are only supporting YYYY-MM-DD where all the other dates support unix timestamps.

[2020-06-24 07:02] rhaist commented on #151
Reference: https://github.com/OpenCTI-Platform/connectors/commit/121a1b9d8b06fc4a3c70a9e1b6b59e3ea47a8c80

[2020-06-24 07:07] andurin commented on #151
D'oh - I had never a guess for the dateformat... I'll try it in the next minutes.

[2020-06-24 07:41] SamuelHassine commented on #102
This is now fixed.

[2020-06-24 07:41] #102 closed

[2020-06-24 07:42] #151 closed

[2020-06-24 09:40] andurin commented on #151
Hi,

just deleted all and started with a fresh install - issue not solved.
Again I receive a lots of MISP Events / Reports regardless of the wanted import tag.

[2020-06-26 01:29] GlennHD opened #169 "[MISP] Import if Published"
## Problem to Solve
Import all events (current default).
Only import events if published.
Only import events if not published.

## Current Workaround
Have to tag events with a custom tag like "ready".

## Proposed Solution
Add published REST options.  Here are the details

Parameter | Docker envvar | Mandatory | Description
-- | -- | -- | --
misp-import_published | MISP_IMPORT_PUBLISHED | No| If p

[2020-06-26 04:06] biers04 opened #170 "MISP MITRE ATT&CK Galaxy not linking to attribute"
## Description

Tagging attributes within MISP to a galaxy (in this case specific to MITRE) to that specific attribute is not carrying the relationship over to OpenCTI. Events are properly tagged, and can manually do complete the relationship. MITRE will pull over to OpenCTI, just does not tag properly. Screenshots of example below:

## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.04

[2020-06-29 06:49] phucsnguyenv opened #171 "How to change a report modified date"
Hi,

I used a connector to create an internal report. Everyday I will add new or delete the Observables linked to this report. Now I what I want to do is after I add/delete Observables to this report, I will to change the modified date property of this report. Please let me know how to do this.
All entities are created by `pycti` library.

[2020-06-30 06:33] csandu-certeu opened #172 "[MISP] Bug in fetching event (related to the date of the event)"
## Description

MISP connector stays blocked in fetching an event. This happens from time to time, not on a regular basis.
We believe there is an issue with the way the the MISP events are fetched:
- the first time the connector runs, the field _date_from_ is used
- all the subsequent runs it will use _timestamp_ (which is stored at the end of the loop)

If an event is updated (in MISP) in between

[2020-07-07 01:58] asucrews opened #173 "MISP connector not inporting anything"
## Description

MISP connection is returning the below logs and not importing.

INFO:root:Listing Threat-Actors with filters null.,
ROR:root:Duplicate entry,
'NoneType' object is not subscriptable,

## Environment

1. ubuntu 20.04
2. OpenCTI version: 3.3.2
3. OpenCTI client: frontend
4. Other environment details:
Docker, MISP  v2.4.128 (4693ae347365e51fc1f1b17d7a91d08c09ba03b8)

## Reproducible St

[2020-07-07 17:14] GlennHD commented on #173
I would ask this in the Slack channel https://slack.luatix.org/.

Many are running the same configuration you are and are not having any issues.

[2020-07-09 23:32] asucrews commented on #173
Got hel from https://slack.luatix.org/ people.

[2020-07-12 22:10] OzRex08 commented on #31
Any progress on this connector? It would be a great idea!

[2020-07-27 14:13] manonviallet opened #178 "Add .vbe extension in pdf connector"
# Description

Missing .vbe extension in patterns.ini of import-file-pdf-observables connector

# Environment
	1. OS : Debian 4.9.82-1+deb9u3 (2018-03-02)
	2. OpenCTI version: 3.2.2
	3. OpenCTI client: Platform

# Reproducible Steps

Import pdf report with filename example.vbe and check if this was imported

# Expected Output

An observable example.vbe is created

# Actual Output

Not created

[2020-07-27 14:14] manonviallet opened #179 "Array parsing does not work well"
# Description

 The import-file-pdf-observables connector doesn't parse the arrays where IoCs are located

# Environment
	1. OS :  Debian 4.9.82-1+deb9u3 (2018-03-02)
	2. OpenCTI version: 3.2.2
	3. OpenCTI client: Platform

# Reproducible Steps

Drop a pdf report with an IoCs array and check result

# Expected Output

 IoCs in the array or must be processed and created automatically as observable

[2020-07-27 14:15] manonviallet opened #181 "[ImportFilePdfObservables] Image parsing does not work well"
# Description

 The import-file-pdf-observables connector doesn't parse images where IoCs are located

# Environment
	1. OS :  Debian 4.9.82-1+deb9u3 (2018-03-02)
	2. OpenCTI version: 3.2.2
	3. OpenCTI client: Platform

# Reproducible Steps

Drop a pdf report with an image containig IoCs and check result

# Expected Output

 IoCs in the image must be processed and created automatically as observab

[2020-07-27 15:40] manonviallet opened #176 "Some readme are missing for some connectors"
## Description

It would be useful to have a short readme for some connectors, explaining what they are for and how they work.

[2020-07-29 07:16] Snowty commented on #98
Refer to ImportFileStix and ImportFilePdf ，I have code the ImportFileCsv.
However, when I upload the file, it won't trigger ImportFileCsv.
What should I do?
Best wishes!

[2020-08-06 15:04] smclinden opened #177 "Crowdstrike connector replaces first byte of IP with '0'"
## Description

Crowdsrike connector replaces first byte of IP address with '0'.

## Environment

1. OS: Ubuntu 18.04
2. OpenCTI version: OpenCTI 3.3.2
3. OpenCTI client: Frontend
4. Other environment details: pycti: 3.3.3 crowdstrike-client 0.1.0

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. Run crowdstrike connector
2. Search Intrusion sets for known URLs/Indicat

[2020-08-06 15:06] smclinden commented on #177
![image](https://user-images.githubusercontent.com/8810661/89548300-d5e7d380-d7d4-11ea-87e4-c33eee20c05f.png)

[2020-08-06 15:57] maertv commented on #177
I searched for _http://0.146.188.228:47843_ on the CrowdStrike Portal and found that indicator with this value (_URL: http://0.146.188.228:47843_, Geodo, Emotet and MUMMYSPIDER, published 2020-08-04) exists there.

It seems to me that this is how the connector received it from the CrowdStrike.

[2020-08-06 16:58] smclinden commented on #177
It is MUMMYSPIDER but I am wondering why Crowdstrike is getting it wrong, unless their API is broken.

[2020-08-10 06:37] maertv commented on #177
The CrowdStrike Falcon platform UI (web) shows these URLs exactly the same way. It seems that this is how these URLs are in their system.

Unfortunately, I do not know why these URLs are the way they are. Please contact CrowdStrike.

[2020-08-21 07:25] #178 closed

[2020-08-25 14:09] RevoStryder opened #180 "MISP-Connector - Observables should inherit event tags."
## Problem to Solve

It's difficult to search observables from MISP as they do not inherit tags from events, given that attribute tagging within MISP is an optional and unwieldy feature.

## Current Workaround

I manually tag all attributes on MISP tickets.

## Proposed Solution

Allow an optional parameter that would let MISP observables inherit the tags from the event that created them.

## Addi

[2020-09-02 14:51] jbfeldman opened #182 "Provide option to disable auto-enrichment of Observables"
## Problem to Solve

{ Currently, an enrichment connector automatically enriches any new Observable once it has been created. However, this can be a problem with Commercial Enrichment connectors, which may have limits on the number of API calls that can be made, or may charge additional costs for a large number of API queries}

## Current Workaround

{ It's possible to change the internal logic of

[2020-09-07 08:07] coursestraining commented on #125
If you need a fully details about this issue, Visit [Python - TypeError – NoneType Object not Subscriptable](https://360digitmg.com/python-typeerror-nonetype-object-is-not-subsriptable) it will helps you a lot.

[2020-09-22 11:22] SamuelHassine opened #184 "[alienvault] Add labels on indicators & observables"
Hello,

Is it possible to add the same labels (tags) that are on a report on indicators & observables?

Thanks!

[2020-09-22 12:16] maertv commented on #184
I think that it is possible to add the tags from the report as the labels to the indicators. However, I not sure that the labels can be added to the observables, because if I understand the STIX2 specification correctly then the _labels_ property is not applicable for the observables. For example, the properties section of the IPv4 Address object lists the _labels_ property under the Not Applicabl

[2020-09-27 21:37] #184 closed

[2020-10-06 09:56] vxsh4d0w opened #187 "OpenTaxii Export"
Is there any plan to add a connector to export info in opentaxii format? It would be great to consider it alternative.

[2020-10-06 12:37] maertv opened #188 "[AlienVault] Add author to observables"
## Problem to Solve

The observables created by the AlienVault connector are missing the author.

## Proposed Solution

Use the custom property _x_opencti_created_by_ref_ to pass the reference to the author.

[2020-10-06 14:36] maertv opened #190 "[CrowdStrike] Add author to observables"
## Problem to Solve

The observables created by the CrowdStrike connector are missing the author.

## Proposed Solution

Use the custom property x_opencti_created_by_ref to pass the reference to the author.

[2020-10-06 14:59] #188 closed

[2020-10-06 15:00] #173 closed

[2020-10-06 15:01] SamuelHassine commented on #180
Solved in the upcoming V4.

[2020-10-06 15:01] #180 closed

[2020-10-06 15:02] SamuelHassine commented on #154
Solved in the upcoming V4.

[2020-10-06 15:02] #177 closed

[2020-10-06 15:02] SamuelHassine commented on #105
Solved in the upcoming V4.

[2020-10-06 15:02] #105 closed

[2020-10-06 15:04] SamuelHassine commented on #170
Solved in the upcoming V4.

[2020-10-06 15:04] #170 closed

[2020-10-06 15:05] SamuelHassine commented on #72
Solved in the upcoming V4.

[2020-10-06 15:05] #72 closed

[2020-10-06 15:05] #111 closed

[2020-10-06 15:13] #166 closed

[2020-10-06 15:58] #190 closed

[2020-10-06 16:02] #81 closed

[2020-10-09 12:53] NetEyes opened #192 "Just a quick question .. is the opencti on github is version 4 now?"
Just a quick question .. is the opencti on github is version 4 now?

[2020-10-20 14:42] maertv opened #193 "[CrowdStrike] Indicator import should use deep pagination for fetching indicators"
## Problem to Solve

The current pagination implementation uses _limit_ and _offset_ combination to fetch the indicators from the CrowdStrike API. This approach only work if the total number of indicators to be fetched is less than 50000, i.e., _limit_ + _offset_ < 50000. Exceeding this limit will cause an error and the connector will crash.

## Proposed Solution

Instead of _limit_ and _offset_ c

[2020-10-30 12:28] maertv commented on #193
Code is merged to _master_. Closing the issue.

In case of problems, please open a new issue.

[2020-10-30 12:28] #193 closed

[2020-10-30 16:23] smclinden opened #196 "Launch import not working"
## Description

I enabled ImportFileStix2 and uploaded a Stix2 file but the button for Launch import remains greyed out.

## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.04
2. OpenCTI version: OpenCTI 3.3.2
3. OpenCTI client: frontend
4. Other environment details:

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. Navigate to Data Import
2. Upload a STIX2 f

[2020-11-01 13:52] smclinden commented on #196
![image](https://user-images.githubusercontent.com/8810661/97804694-8d975080-1c1f-11eb-98ce-9525e2404fa2.png)

[2020-11-10 16:24] amr-cossi opened #200 "[All connectors] Define which entity types a connector is allowed to create or update"
## Problem to Solve

For a better compatibility between connectors ingesting data, it would be useful to have granular settings to choose which external database has the precedence for each type of entity. For example, if you decide that your TTPs reference is handled by MITRE ATT&CK, other connectors shouldn't be able to override TTP entities with their own data, only create links with them.
To d

[2020-11-10 16:24] amr-cossi opened #227 "[All connectors] Define which entity types a connector is allowed to create or update"
## Problem to Solve

For a better compatibility between connectors ingesting data, it would be useful to have granular settings to choose which external database has the precedence for each type of entity. For example, if you decide that your TTPs reference is handled by MITRE ATT&CK, other connectors shouldn't be able to override TTP entities with their own data, only create links with them.
To d

[2020-11-16 09:13] maertv opened #201 "Add Kaspersky connector"
## Problem to Solve

Create the OpenCTI Kaspersky connector that can be used to import the knowledge from the Kaspersky Threat Intelligence Portal.

[2020-11-17 19:39] Sh311c0d324 opened #203 "When using the new connectors, it will not connect to OpenCTI."
#203  Description

When upgrading to the latest connectors, I am presented with the following error message. Any help with this would be much appreciated.

## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.0.5
2. OpenCTI version: Latest
3. OpenCTI client: 4.0.0
4. Other environment details:

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. Upgrade to the lat

[2020-11-18 12:10] richard-julien commented on #196
Hi @smclinden ,

The connector is configured by default to handle json files. In your screenshot you upload .stix files. Try to change the extension and re upload.

[2020-11-18 12:15] richard-julien commented on #203
Hi @Sh311c0d324 ,

Its a bit difficult to answer your problem.
Today the v4 and the connectors are not yet published so you can't use safely the rolling docker images or the code source.

OpenCTI version: Latest -> v3 or rolling?
OpenCTI client: 4.0.0 -> This version is not release yet. You talk about the rolling?
Upgrade to the latest connectors -> Version?

Thanks

[2020-11-18 13:45] smclinden commented on #196
Yeah, I discovered that, yesterday, while searching the Web. It would be nice if that were documented, somewhere.

On a related note, I've been looking at importing STIX1 files using stix2_elevator but I am wondering if this actually makes sense?

[2020-11-18 13:57] richard-julien commented on #196
Yep. Just added a description in the doc. See https://www.notion.so/ImportFileStix-868abc3d8daa420db6085f1c8ac36432

I think it makes sense. Could be interesting to improve the connector to detect the stix version and use the elevator to be able to import it in the platform. Supporting older version out of box should be interesting for the community.

You can create a feature request for that and

[2020-11-18 13:57] #196 closed

[2020-11-18 14:52] Sh311c0d324 commented on #203
Yeah I am talking about the rolling. I went ahead and dropped to the pycti 3.3.3 version and it's working fine sorry for the confusion.

[2020-11-18 14:54] richard-julien commented on #203
No problem :)

[2020-11-18 14:54] #203 closed

[2020-11-23 01:06] alnash28 commented on #60
@SamuelHassine  Is there a roadmap or planned release date for the STIX 2.x Migration?

[2020-11-23 16:46] HugooB opened #204 "[import-file-pdf-observables] Possible to automatically start this connector when inserting a report?"
## Problem to Solve

After report insertion into the platform, I manually have to click the button to let the import-file-pdf-observables extract all the IoCs. Can this process be started automatically or through some sort of API call?

## Current Workaround

Manually clicking the button

## Proposed Solution

import-file-pdf-observables starts as soon as report is uploaded or API call to start it

[2020-11-24 10:46] B1u3f331 opened #205 "[MISP] OpenCTI API is not reachable"
## Description

After lunached MISP module, the logs said the OpenCTI API is not reachable and Threat-Actors problems.

## Environment

1. OS (where OpenCTI server runs): Linux opencti-rolling 5.4.0-52-generic #57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

2. OpenCTI version: “From Virtual machine template” https://drive.google.com/drive/folders/1bvB6RmdQNHMW_3h-88KbAi

[2020-11-26 07:02] #201 closed

[2020-11-30 16:09] timebotdon opened #206 "Custom connector fails to start. Unable to reach OpenCTI API"
Please replace every line in curly brackets { like this } with an appropriate answer, and remove this line.

## Description
Created my own custom connector to watch and parse JSON files from an FTP server folder and then pushes the parsed data to OpenCTI. The connector would fail to start. Error as seen below. DNS does'nt seem to be a problem here as other connectors installed (Alienvault for exam

[2020-11-30 16:10] timebotdon commented on #206
similar issue with #205

[2020-11-30 22:26] richard-julien commented on #206
Hi @timebotdon. This error can exists if you have a mismatch between the version of python lib and the api.
It looks like you use the rolling (current dev branch) of the python lib for your connector with the official release (v3) of OpenCTI.
The v4 should be released soon so maybe the best solution for you is to deploy the OpenCTI rolling for your development

[2020-11-30 22:27] richard-julien commented on #205
Hi @B1u3f331 , looks like your deployment have some versions mismatch.
Please check that you use also the version 3.3.1 of the OpenCTI Api.

[2020-12-01 03:40] timebotdon commented on #206
Hi @richard-julien thanks for replying!

If i did not want to use the rolling release of OpenCTI, that means I would need to use an older version of pycti for the connector to work? Perhaps version pycti 3.3.2?

[2020-12-01 08:28] richard-julien commented on #206
I think you can use pycti==3.3.3 in your requirements.txt

[2020-12-01 10:41] timebotdon commented on #206
Did the change and the connector works now! Thanks alot for the help!

[2020-12-01 10:43] #206 closed

[2020-12-09 11:04] maertv opened #207 "[ExportFileSTIX] Ignores types parameter when exporting a list"
## Description

The `types` parameter is not used when exporting a list.

## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.04.5 LTS
2. OpenCTI version: 4.0.0 (not released _master@60c6a2858c686f16c00feecbc8765a66c53b04aa_)
3. OpenCTI client: Python 4.0.0 (not released _master@3ad27ec658e5cb44c774988be7d92a19a84f99f6_)
4. Other environment details:
    - ExportFileSTIX connector version

[2020-12-15 08:32] #207 closed

[2020-12-17 16:44] DR913 opened #211 "AlienVault Connector observables ineffiecent in new data model."
## Problem to Solve

The AlienVault Connector is currently creating one file observable per hash indicator, but must pulses contain multiple hash indicators for the same file.

## Current Workaround

It appears that having a VirusTotal license will reduce this problem, but it would be expensive for the volume of data. You can also continue to exclude MD5 and SHA1 files, but some systems are still

[2020-12-17 17:20] maertv commented on #211
It is possible that the current AlienVault connector uses the wrong API.

For example, the subset of indicators from the current response of the API call:
[code]
Do these hashes belong to the same file?

In some cases there is a description with for example `MD5 of` but not always. It seems to depend on the pulse creator and even then not all of them have it.

You can use `curl` to query the API:

[2020-12-17 19:05] DR913 commented on #211
Thanks for the quick response @maertv

My experience has been that pluses where the author is "AlienVault" have the `MD5 of` in the description field. A lot of the pluses from "AlienVault" itself cover the OSINT from the larger security vendors, so I feel like it would still be a valuable improvement to the connector if we can consolidate these into a single file observable instead of three separa

[2020-12-20 22:26] GlennHD opened #212 "FireEye Connector Error 'object_marking_refs'"
## Description

FireEye Connector Error 'object_marking_refs'

## Environment

1. OS: Ubuntu Server 20.04.1 LTS
2. OpenCTI v4.0.3
4. Docker version

## Reproducible Steps
- Setup FireEye Connector with valid credentials using the docker-compose.yml  example.

## Actual Output

- OpenCTI infinitely spawns "Works" every minute. Screencap [here](https://i.imgur.com/ElCLlig.png).
- Errors generated fo

[2020-12-21 20:09] jcockhren opened #213 "[cybercrime-tracker] connector fails due to unchecked None"
## Description

Cybercrime tracker connector fails while determining if the last run interval has been exceeded.

## Environment

1. OS (where OpenCTI server runs): Debian Buster 10.7
2. OpenCTI version: 4.0.x
3. OpenCTI client: pycti
4. Other environment details:

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. Setup the connector in accordance its the README (docker

[2020-12-21 20:34] #213 closed

[2020-12-21 20:35] SamuelHassine commented on #212
Will be fixed in 4.0.4.

[2020-12-21 20:35] #212 closed

[2020-12-22 21:38] kudrew opened #216 "4.0.3 Cybercrime tracker connector error"
OpenCTI platform, workers v4.0.3

OpenCTI Cybercrime tracker connector: v4.0.3

Connector log:
[code]

connector config:
[code]

[2020-12-22 22:04] kudrew opened #217 "Error: Cant upsert entity. Too many entities resolved"
OpenCTI Platform + Workers: 4.0.3
Malpedia Connector: 4.0.3

Malpedia connector log
[code]

malpedia platform log:
[code]

Malpedia connector config (using api key):
[code]

The malpedia connector seems to be generating all the work related logs and doesn't resume after hitting the `UnsupportedError`

[2020-12-22 22:44] SamuelHassine commented on #217
Hello @kudrew,

 This is an expected behavior since the version 4, the problem is located at:

![image](https://user-images.githubusercontent.com/1334279/102939651-f0ce9200-44ae-11eb-992c-00703dd91995.png)

Please check in your OpenCTI platform, you has 2 different Intrusion Sets corresponding to this set of name/aliases. OpenCTI is therefore not able to determinate which Intrusion Set to select a

[2020-12-23 05:27] jcockhren commented on #216
This was fixed by #214

[2020-12-23 16:13] kudrew commented on #217
Can there be an option so that the connector can skip over the error? The connector has been paused after the last error

[2020-12-23 16:15] cdsouza-cta commented on #217
Hi @SamuelHassine ,
Thanks for the explanation. Couple of questions on this.
1. So we noticed that specific to malpedia , we don't see error and completed logs showing up on the connecter interface, so this makes it hard for us to actually figure out if an error has occurred (in this case duplicates) since there is no display on the connector
![image](https://user-images.githubusercontent.com/4402

[2020-12-23 20:50] #216 closed

[2020-12-28 22:51] alnash28 commented on #176
@manonviallet This request seems a little outdated. Are there specific connectors not mentioned [herein ](https://www.notion.so/Connectors-4586c588462d4a1fb5e661f2d9837db8)

[2020-12-31 19:21] kudrew opened #220 "[4.0.4] Worker: "Error:root:Unknown object type "x-mitre-tactic", doing nothing...' from data from Mitre connector"
Platform: v4.0.4
Workers (20): v4.0.4
Mitre Connector: v4.0.4

Elasticsearch cluster: 3 nodes of 16 vCPUs, 64 GB each. JVM Heap: 96.0 GB

OpenCTI worker log:
![image](https://user-images.githubusercontent.com/51339113/103423171-2c362400-4b73-11eb-9c4d-243fb9c37e72.png)

[2021-01-06 11:35] khalidrehan commented on #205
I belive I have the same issue [issue #981].
I used: `image: opencti/connector-misp:3.3.1`

[2021-01-06 12:09] khalidrehan commented on #205
That is right, it worked when I matched the version.
Thanks!

[2021-01-07 09:40] #205 closed

[2021-01-07 14:02] khalidrehan opened #221 "OpenCTI can't get MISP Events"
## Description

MISP Connector is working and connecting to MISP - as I see it - but no events returned.

## Environment

1. OS (where OpenCTI server runs):  Ubuntu 20.04 / VM Temp.
2. OpenCTI version: 4.0.3
4. MISP version:  v2.4.136
5. PyMISP Status: OK

## MISP Connector Config:

[code]

## Environment variables:
![image](https://user-images.githubusercontent.com/37035465/103901197-e0065900-510

[2021-01-08 00:34] khalidrehan commented on #221
## Testing curl from the OpenCTI server:
[code]
Returned events.

But it did not work from inside  opencti_connector-misp.* console.

[2021-01-08 11:17] khalidrehan commented on #221
I fixed it!
The problem was the MISP-ID, it used a wrong UUID from the MISP Settings, and I should have used the Organization UUID instead.
I unified them to be the Organization UUID - _which I'm not sure if it was a correct step_ - then I used it, and it worked.

Regards,
Khalid.

[2021-01-17 08:40] a108a108 opened #223 "AlienVault connector error AMQPConnection - Name does not resolve"
## Description

Error while running AlienVault connector:  AMQPConnectionWorkflowFailed: 1 exceptions in all; last exception - gaierror(-2, 'Name does not resolve');

## Environment

1. OS: CentOS 8, Docker
2. OpenCTI version: 4.0.7
3. OpenCTI client: python
4. Other environment details:

## Reproducible Steps

**Compose file:**

version: '3'
services:
  connector-alienvault:
    image: opencti/co

[2021-01-17 10:06] richard-julien commented on #223
Hi @a108a108 ,

This is not an OpenCTI error, just the way docker works.
A docker compose come with its internal network.
So starting a docker compose with OpenCTI and some connectors will run on NETWORK_DEFAULT
Then if you start a new docker compose with only AlienVault, it will run on ANOTHER_NETWORK
NETWORK_DEFAULT and ANOTHER_NETWORK can't communicate and so dont have any DNS resolution betwee

[2021-01-17 10:09] a108a108 commented on #223
Hi @richard-julien
I will do that, thank you!

[2021-01-17 10:09] #223 closed

[2021-01-19 18:41] NetEyes commented on #2
Is this connector already existed? Please provide the link

[2021-01-20 07:36] tellerj opened #224 "[ImportFileStix] Automatically Elevate STIX Data that is Less Than "spec_version":"2.1""
Please replace every line in curly brackets { like this } with appropriate answers, and remove this line.

## Problem to Solve

Enable OpenCTI to sense, and elevate STIX .json files with "spec_version": <2.1 up to STIX2.1

## Current Workaround

Install Open OASIS' Stix Elevator tool (available as a library) from here: https://github.com/oasis-open/cti-stix-elevator
Download STIX .json file with "

[2021-01-21 17:01] RevoStryder opened #225 "[MISP] Import "Other - comment" Attributes as Notes"
## Problem to Solve

Attributes tagged as Category:Other Type:comment are lost when imported to OpenCTI from MISP.

## Current Workaround

Manually Copy/Paste it across

## Proposed Solution

Import attributes of Category:Other, Type:comment as a "Notes about this entity" entry.

An example of report to import:
![image](https://user-images.githubusercontent.com/65761127/105384048-aead8300-5c09-11e

[2021-01-26 09:39] amr-cossi commented on #200
In the v4, duplicates are now impossible to create by a connector and this can lead to the loss of some imported data (see https://github.com/OpenCTI-Platform/connectors/issues/217).

One possibility with the same base than this feature is to allow a connector to automatically merge entities in conflict during an import.
Example: f I decide that the dataset imported by the OpenCTI connector is my

[2021-01-26 10:11] amr-cossi opened #226 "[Crowdstrike] State of the connector can't be set"
## Description

The connector state can't be set during a run leading to a rerun every few minutes.
The only log found is not very helpful:
`ERROR:root:CrowdStrike connector internal error: {'name': 'UnknownError', 'message': 'No reason specify'}`

## Environment

1. OS (where OpenCTI server runs): full-docker instance
2. OpenCTI version: 4.0.7
3. OpenCTI client: worker and all connectors in 4.0.7

[2021-01-26 10:33] maertv commented on #226
Please check the OpenCTI Platform logs. I could be mistaken but the error:
[code]

The part `{'name': 'UnknownError', 'message': 'No reason specify'}` seems to be coming from the OpenCTI.

[2021-01-27 05:08] oradious opened #228 "OpenCTI is not reachable when integrating with MISP"
## Description

I'm trying to integrate OpenCTI 4.0.3 connector with the MISP platform. So far, I've tried the ``docker-compose up`` method and tried to follow this article: ``https://blog.agood.cloud/posts/2020/04/24/adding-misp-to-opencti/``, but every time it just returns the OpenCTI API is not reachable ValueError. I've also referred to past issues regarding MISP connectors/unreachable APIs, b

[2021-01-27 15:44] smclinden commented on #217
Is there information in the error message to determine which intrusion set(s) is/are causing the conflict?

[2021-01-27 18:01] pinowudi opened #229 "MISP connector parsing error with File objects"
## Description

When connecting to MISP, the connector enumerates events and starts walking them, only to crash on 'file' objects that do not have a 'x_opencti_main_observable_type' indicator defined. Since my MISP has no knowledge of OpenCTI, it does not have this defined.

## Environment

1. OS Ubuntu provided with OpenCTI OVA virtual machine
2. OpenCTI version: 4.0.3
3. OpenCTI client: python
4

[2021-01-28 01:48] oradious commented on #228
Thanks a lot! Got it fixed. Can't believe I made such a rookie error, was beginning to stress over it.

[2021-01-28 01:48] #228 closed

[2021-01-28 14:04] azzarin opened #230 "MISP connector not working, getting connection error"
Please replace every line in curly brackets { like this } with an appropriate answer, and remove this line.

## Description

I have setup OpenCTI and MISP. Im now trying to use the connector for OPENCTI. But it fails.
I did set this up in my lab and there it works just fine. so im kinda lost. also rather new to OpenCTI and MISP for that matter.

I have SSL verify= False
I do have the correct "URL"

[2021-01-29 16:25] SamuelHassine commented on #229
Hello,

Thanks for the issue, it will be solved in the next release.

Kind regards,
Samuel

[2021-01-29 16:26] #229 closed

[2021-01-29 16:27] SamuelHassine commented on #230
Hello,

I think this error is pretty clear: `'Unable to connect to MISP ({self.root_url}). Please make sure the API key and the URL are correct (http/https is required): {e}'),`

The connector is not able to connect to your MISP instance with the URL you configured:

`urllib3.exceptions.NewConnectionError: <urllib3.connection.HTTPSConnection object at 0x7f3379c5e3d0>: Failed to establish a new con

[2021-01-29 17:18] azzarin commented on #230
Yeah, but i have no clue why. The URL is correct. you can access MISP on that URL. Using that URL on PyMISP also works just fine. I did roll the dice and was hoping perhaps this was known to someone.

[2021-02-02 09:50] SamuelHassine commented on #60
This problem has been fixed. We will do the STIX2 certification in the next couple weeks!

[2021-02-02 09:50] #60 closed

[2021-02-02 09:52] SamuelHassine commented on #181
@manonviallet, is ANSSI able to take this one?

[2021-02-02 16:59] amr-cossi commented on #226
The status is ok now. I'll do some test with full history later.

[2021-02-02 16:59] #226 closed

[2021-02-04 08:29] SamuelHassine commented on #220
Hello @kudrew,

That's the expected behaviour. MITRE Tactics are just imported as STIX 2.1 Kill Chain Phases. We don't want to implement a custom/special object for that which is not STIX 2.1 compliant.

Thanks!

Kind regards,
Samuel

[2021-02-04 08:29] #220 closed

[2021-02-04 16:00] maertv opened #231 "[Kaspersky] YARA rules with desc field are ignored"
## Description

Current implementation expects that the YARA rule has a _description_ field. Rules without _description_ field are ignored and an error is logged.

It seems that some YARA rules have a _desc_ field instead of the _description_ field.

## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.04.5 LTS
2. OpenCTI version: 4.1.2
3. OpenCTI client: python 4.1.2

## Reproducible Step

[2021-02-04 17:08] NetEyes opened #233 "Alienvault - "Temporary failure in name resolution""
OS: Ubuntu 20.4
OpenCTI latest version, running on docker (as recommended)

Alienvault connector run manually. Error message "**Temporary failure in name resolution**"

![image](https://user-images.githubusercontent.com/20463433/106928779-8e89c380-66e1-11eb-9c64-d3002bdf2e84.png)

[2021-02-04 17:15] NetEyes opened #234 "VirusTotal - "Temporary failure in name resolution""
OS: Ubuntu 20.4
OpenCTI latest version, running on docker (as recommended)

VirusTotal connector run manually. Error message "**Temporary failure in name resolution**"

![image](https://user-images.githubusercontent.com/20463433/106929683-ac0b5d00-66e2-11eb-83f4-7386814468f0.png)

[2021-02-04 17:24] azzarin commented on #230
I did spin up another server and it works just fine. I know its not recommended to run MISP and CTI on the same server. So i guess there is a reason for that 👍

[2021-02-04 17:24] #230 closed

[2021-02-04 17:52] NetEyes opened #235 "cybercrime-tracker"
Same issue in cybercrime-tracker connector .. "Failure in name resolution"

![image](https://user-images.githubusercontent.com/20463433/106934252-e62b2d80-66e7-11eb-9bc4-7156189b2569.png)

[2021-02-05 08:47] maertv commented on #231
Merged to _master_. Looks OK, closing the issue.

[2021-02-05 08:47] #231 closed

[2021-02-05 11:19] SamuelHassine commented on #233
Hello @NetEyes,

If you run the connector manually, you have to ensure that the connector will be able to access to the RabbitMQ server using the parameters given by the API. So lets say your platform is configured with default parameters such as:

[code]

If you launch your connector manually, the connector will ask to the API the RabbitMQ hostname (here it's `rabbitmq`) and then try to connect i

[2021-02-05 11:19] SamuelHassine commented on #234
Hello @NetEyes,

If you run the connector manually, you have to ensure that the connector will be able to access to the RabbitMQ server using the parameters given by the API. So lets say your platform is configured with default parameters such as:

[code]

If you launch your connector manually, the connector will ask to the API the RabbitMQ hostname (here it's `rabbitmq`) and then try to connect i

[2021-02-05 11:20] SamuelHassine commented on #235
Hello @NetEyes,

If you run the connector manually, you have to ensure that the connector will be able to access to the RabbitMQ server using the parameters given by the API. So lets say your platform is configured with default parameters such as:

[code]

If you launch your connector manually, the connector will ask to the API the RabbitMQ hostname (here it's `rabbitmq`) and then try to connect i

[2021-02-05 11:20] SamuelHassine commented on #234
Duplicate of #233.

[2021-02-05 11:20] #234 closed

[2021-02-05 11:21] SamuelHassine commented on #235
Duplicate of #233.

[2021-02-05 11:21] #235 closed

[2021-02-05 11:23] #217 closed

[2021-02-05 17:45] NetEyes commented on #233
Hi,
I decided to install RabbitMQ on the main host (manual install).
So how to tell OpenCTI that I have a stand-alone rabbitmq running on the same host? What should I modified in the docker-compose of OpenCTI?

[2021-02-07 00:34] Madc4t opened #237 "Typo in Sighting connector Dockerfile => build fail"
## Description

In sighting connector Dockerfile https://github.com/OpenCTI-Platform/connectors/blob/master/sighting/Dockerfile, there is a reference to ipinfo connector instead of sighting.
`RUN apk --no-cache add git build-base libmagic libffi-dev && \
    cd **/opt/opencti-connector-ipinfo** && \
    pip3 install --no-cache-dir git+https://github.com/OpenCTI-Platform/client-python@4.1.2 && \

[2021-02-07 15:46] Deventual opened #238 "[MISP] External analysis are not updated if the event already have been imported"
## Description

After we tag an MISP event and it gets imported by the openCTI instance for the first time, It couldn't import new external analysis links that were added after the first run.

## Environment

OpenCTI version: 4.1.0

[2021-02-08 20:53] smclinden opened #239 "Hygiene connector has no Consumers in RabbitMQ"
## Description

The Hygiene connector has generated about 34,000 messages but they are stuck in the queue because there are no consumers.

## Environment

1. OS: Ubuntu 18.04 LTS
2. OpenCTI version: OpenCTI 4.1.2
3. OpenCTI client: Python
4. Other environment details:

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. Build hygiene Python dependencies
2. Run "python3 hy

[2021-02-09 16:14] smclinden commented on #239
I assume that the URL should be "//graphql" not "/graphql" but I don't see where this is going wrong.

[2021-02-09 19:15] NetEyes opened #240 "looking for connector to consume STIX1.1.1 or STIX2.1"
Hi,
Any connectors to ingest STIX 1.1.1 & STIX2.1?
We have a paid commercial thread feeds that we would like to ingest to OpenCTI.
Their api can be access either STIX 1.1.1 or  STIX2.1

[2021-02-10 11:02] trocade opened #242 "[CrowdStrike/AlienVault] Connector does not seem to update state unless initial processing is fully done"
## Description

When doing the initial import of data from crowdstrike and the connector will not store last-state until done.
If the connector is restarted or interrupted it have to start over from the beginning.

## Environment

1. Ubuntu 18.04 LTS (Docker)
2. OpenCTI version: 4.12
3. OpenCTI client: fronted/python

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. Se

[2021-02-10 13:31] SamuelHassine opened #243 "[lastinfosec] Move lastinfosec CTI feed to STIX-v2.1 version"
## Problem to Solve

Move lastinfosec CTI feed to STIX-v2.1 version

[2021-02-10 13:33] #243 closed

[2021-02-10 13:34] #2 closed

[2021-02-10 20:11] jbfeldman opened #244 "Create an option to disable TLS verification in TAXII2 Connector"
## Problem to Solve

TLS is not required in the TAXII2 standard, so the connector should be compatible with servers that don't support it.
## Current Workaround

{ Please describe how you currently solve or work around this problem, given OpenCTI's limitation. }

This can be done by editing the source code, but it'd be nice to provide it as an out of the box option

P.S. I'll take care of this mys

[2021-02-10 20:20] jbfeldman opened #245 "Implement paging in the TAXII2 Connector"
## Problem to Solve

Currently, the TAXII2 Connector just reads the entire collection (in a specified time range) in a single HTTP call. However, in large collections this could lead to HTTP timeouts and/or memory issues.
## Current Workaround

Read only small collections and/or time ranges
## Proposed Solution

Utilize the `limit` parameter defined in the TAXII2 standard for get_objects to limit

[2021-02-11 00:23] #4 closed

[2021-02-11 00:25] SamuelHassine commented on #142
We will try to implement this feature in the next milesotne.

[2021-02-11 00:27] SamuelHassine commented on #171
Hello @phucsnguyenv,

Sorry for the delayed answer, this behavior should be definitely solved in OpenCTI >= 4.X.X. Please let us know if you are facing any more difficulties.

Kind regards,
Samuel

[2021-02-11 00:27] #171 closed

[2021-02-11 00:27] #172 closed

[2021-02-11 14:41] manonviallet opened #246 "Enrichement connector for organisations"
## Problem to Solve
Have an enrichment connector for adding context information when a new org is created in the platform. DBPedia is forseen as an interesting solution for this :
- https://www.dbpedia.org/about/
- https://github.com/dbpedia/

## Current Workaround
When an analyst add a new organisation, he/she manually add information on the org if he/she has time.

## Proposed Solution

Using a

[2021-02-12 15:55] NetEyes opened #247 "Sighting connector - Pull access denied"
OS: Ubuntu 20
OpenCTI latest version (docker)

Attempted to add "Sighting" connector to docker-compose and got this error.
"ERROR: for connector-sighting  pull access denied for opencti/connector-sighting, repository does not exist"

![image](https://user-images.githubusercontent.com/20463433/107790296-a0dab180-6d20-11eb-96c8-8191547ae180.png)

[2021-02-13 14:05] #3 closed

[2021-02-13 22:14] SamuelHassine commented on #247
Hello @NetEyes,

This connector is not ready for production yet. Please refer to the official list here: https://www.notion.so/luatix/OpenCTI-Ecosystem-868329e9fb734fca89692b2ed6087e76.

Kind regards,
Samuel

[2021-02-13 22:14] #247 closed

[2021-02-18 13:19] maertv opened #251 "[CrowdStrike] STIX 2 Relationship ‘stop_time’ must be later than ‘start_time’"
## Description

Sometimes the CrowdStrike connector fails to import a report with following error:
[code]

## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.04.5 LTS
2. OpenCTI version: _master_
3. OpenCTI client: Python 4.2.3

## Reproducible Steps

It happens when the CrowdStrike report creation time is the same as the modification time.

## Expected Output

The CrowdStrike report is

[2021-02-18 14:29] csandu-certeu opened #252 "MISP events created 'in the past' are not fetched by the connector"
Please replace every line in curly brackets { like this } with an appropriate answer, and remove this line.

## Description

I am not sure if this is a bug, or a feature that maybe need a bit more discussion.
It can happen that MISP sometimes, published an event at a certain time, but the value of the "Last change" is way earlier than the published time. In this case, the connector won't fetch the

[2021-02-19 10:24] PandaLyfe opened #253 "Lockheed Martin Kill Chain"
## Problem to Solve

Adding the Lockheed Martin Kill Chain as a dataset

## Current Workaround

Currently using the default MITRE Kill Chain dataset

## Proposed Solution

Requesting to add the Lockheed Martin Kill Chain as a dataset.

## Additional Information

[2021-02-21 18:17] malwaredevil opened #255 "Cyber Crime Tracker Connector Not Working"
## Description

When enabling the Cyber Crime Tracker, it doesn't pull any feeds.

## Environment

1. OS (where OpenCTI server runs): Ubuntu 20.04
2. OpenCTI version: 4.2.3
3. OpenCTI client: frontend
4. Other environment details:

- Docker version 20.10.3, build 48d30b5
- docker-compose version 1.21.2, build a133471

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. se

[2021-02-21 19:39] malwaredevil commented on #255
Figured out the issue:
The "CYBERCRIME_TRACKER_FEED_URL" variable is misspelled in the code as "CYBERCRIMET_RACKER_FEED_URL". See below for location in code that needs to be updated.
https://github.com/OpenCTI-Platform/connectors/blob/a7d6a3a642685d8b50b937336e99d1a2faadd49a/cybercrime-tracker/src/cybercrime-tracker.py#L41

[2021-02-22 20:27] #255 closed

[2021-02-22 20:33] rhaist commented on #239
I just tested the connector with the current release and could not find any issues.
Can you add `8.8.8.8` as an observable and see if the connector adds a hygiene label and changes the score?

[2021-02-22 21:13] markkkkkkkkkkkkkkkkkkk opened #851 "Export to STIX 1 using STIX slider (only solution)"
## Problem to Solve

I am wanting to export Indicators as STIX 1.1.1 or 1.2 as I am wanting to ingest it into a IDS which only accepts STIX 1.1.1 and 1.2. I have put in a feature request to the IDS but they are going to take months to implement.

## Current Workaround

STIX2 Slider but it doesn't work as well as I would want as its only a best match, not a perfect swap.

## Proposed Solution

Add

[2021-02-23 13:53] smclinden commented on #239
It didn't add a hygiene label but it did seem to kick off the queue.

[2021-02-23 18:39] smclinden commented on #239
Also, I have 1.2 million observables and none of them has the label "hygiene".

[2021-02-24 07:57] maertv opened #257 "[Kaspersky] OpenIOC RouteEntryItem/Destination is always imported as domain name"
## Description

The IOCs related to the publication are in the OpenIOC format. The current implementation of the OpenCTI Kaspersky connector imports _RouteEntryItem/Destination_ IOCs as domain names. This is not always correct, because the _RouteEntryItem/Destination_ can also be used to indicate IP address. At the moment all the IP addresses imported this way are domain names in the OpenCTI Platf

[2021-02-24 10:18] rhaist commented on #239
I am sorry but I am not able to reproduce your problem.
Maybe a configuration problem is the root for the connection resets.
I can offer you my help in debugging this closer to your deployment in a 1:1 session on Slack if you want.

[2021-02-24 17:38] NetEyes opened #259 "[TAXII2] The connector is appending 'system/collections' in the URL"
OS: Ubuntu 20
OpenCTI 4.2.3 (docker)

Connector: taxii2

Error: Not found for url

We have a third party taxii feed with the URL of https://local.mythreadfeed.ca/taxii2/api2/collections
in the taxii2 config, i put in server_url='https://local.mythreadfeed.ca'
but the python code is appending 'system/collections' - so it become 'https://local.mythreadfeed.ca/system/collections' which do not exist i

[2021-02-24 23:04] #257 closed

[2021-02-24 23:09] #251 closed

[2021-02-24 23:12] SamuelHassine commented on #252
@maertv, @csandu-certeu,

We have implemented a parameter in the connector configuration, please use:

![image](https://user-images.githubusercontent.com/1334279/109078719-1a4da900-76fe-11eb-99e3-808b2eba931b.png)

with the value `publish_timestamp`.

Kind regards,
Samuel

[2021-02-24 23:12] #252 closed

[2021-02-25 18:44] Tyrell20 opened #260 "[TAXII 1] Create the connector"
**Problem to Solve**
Could you please considering to implement a connector that using TAXII v1?

**Current Workaround**
Manual JSON Import

**Proposed Solution**
Connector that implemented TAXII 1 protocol

Many Thanks

[2021-02-26 03:01] Ken-Abruzzi opened #261 "#Kaspersky Connector# How to get a certificate?"
Hello! Many thanks for your useful platform! I intend to install the connector to Kaspersky. In the docker-compose.yml, it shows I need to give the certificate path. I register the Kaspersky Threat Intelligence Portal, and then I get an API token, but I don't know how to get a certificate. Can you please tell me? Thank you!

[2021-02-26 07:10] 2xyo commented on #261
The OpenCTI Kaspersky connector can be used to import knowledge from the [Kaspersky Threat Intelligence premium services](https://www.kaspersky.com/enterprise-security/apt-intelligence-reporting), not opentip.kaspersky.com.

If you have a premium account,  contact your dedicated Technical Account Manager at Kaspersky to obtain a certificate. A certificate and your credentials will be provided in a

[2021-02-26 07:22] Ken-Abruzzi commented on #261
Thank you! I get it.

[2021-02-26 09:14] amr-cossi opened #262 "[FireEye] Invalid infrastructure entities"
## Description

Infrastructure entities created by the FireEye connector are invalid because of of the field "infrastructure_types" populated with an invalid type. No problem is seen during import or to display in UI but these entities cannot be queried correctly at export (STIX export or full read in the API).

## Environment

1. Fully dockerized version on Ubuntu 20
2. OpenCTI version: 4.2.4
3.

[2021-02-26 10:53] Tyrell20 opened #263 "[MISP] Errors on event recovery"
## Description
MISP connector (version 4.2.4) sometimes fails to recover events. From the docker logs I see the following error: "Unknown error: the response is not in JSON". On we

## Environment
OS (where OpenCTI server runs): { Red Hat Enterprise Linux Server release 7.9 (Maipo) with Docker Compose }
OpenCTI version: { OpenCTI 4.2.4 }
OpenCTI client: { Frontend }
Other environment details:
Elas

[2021-02-26 13:12] smclinden commented on #263
I had the same issue. On the MISP side it was complaining
[code]

[2021-02-26 13:28] smclinden commented on #263
This reference might help.

https://github.com/MISP/PyMISP/issues/525

[2021-02-26 16:11] #261 closed

[2021-02-26 16:12] SamuelHassine opened #264 "URLVir Active Malicious Hosts - novirusthanks connector"
Create the connector for URLVir Active Malicious Hosts

[2021-02-26 16:12] SamuelHassine opened #265 "NetLab 360 connector"
Create the connector for https://data.netlab.360.com/dga/.

[2021-02-26 16:13] SamuelHassine opened #266 "Facebook threat exchange connector"
## Problem to Solve

Create the connector for Facebook threat exchange

[2021-02-26 16:14] SamuelHassine opened #267 "Viriback Tracker connector"
Create the connector for viriback tracker

[2021-02-26 16:15] SamuelHassine opened #268 "[IBM X-Force Exchange] Create the connector"
Create the connector for IBM X-Force Exchange

[2021-02-26 16:18] #233 closed

[2021-02-26 16:19] SamuelHassine commented on #259
Any through @jbfeldman?

[2021-02-26 16:37] jbfeldman commented on #259
Hi @NetEyes. A couple of things here

1. what gets appended to the URL is determined by what is in the collections argument. So if you wanted to fetch all collections in the "api2" API root, that argument should be set to `api2.*`. You can also choose to explicitly fetch certain collections
2. the URL to the collections should **not** have `taxii2` in it. That is a violation of the TAXII2 standard

[2021-02-26 16:40] NetEyes opened #269 "automated export of IoCs or REST api?"
Hi,

From the OpenCTI, I would like to automatically push IoCs (IP, hash) to our firewall. Our firewall have a feature to pull to a taxii server or to a REST.
But first, I am looking for OpenCTI capability or feature that can export IoC in automated basis - any existing connector that does this? Or somehow to pull from OpenCTI all those IoCs out? Please advise

[2021-02-26 19:15] Tyrell20 commented on #263
Hello smclinden,

On MISP side (on var/www/MISP/app/tmp/logs/error.log) it seems that I have no errors related to the OpenCTI query.

The DB schema seems OK and the MISP workers are all running.

What else can I check?

Thanks a lot for your support.

[2021-02-26 22:19] jbfeldman commented on #259
On a second look, it looks like multiple commercial TAXII2 feeds have a similar implementation as described by @NetEyes. To me this still seems a violation of the TAXII2 standard (as described by https://docs.oasis-open.org/cti/taxii/v2.1/csprd01/taxii-v2.1-csprd01.pdf), but that implementation is still interoperable with the taxii2client library so I'll put this on the top of my docket to fix. Th

[2021-02-27 14:14] smclinden commented on #263
I'm working on revising the connector, now. I'll probably create a PR when I have it working.

[2021-03-01 01:17] Ken-Abruzzi opened #271 "How to deploy a connector in a separate yml file instead of all services in one yml file?"
**Hello, everyone! I need some help. Initially, I put all connectors service configuration in one yaml file with the opencti platform, redis, etc.. Then I find the CVE connector does not start importing data for many days.**
![image](https://user-images.githubusercontent.com/68931768/109440062-b4a33a80-79e5-11eb-983f-b68f96521b1d.png)
 **I then remove the CVE connector by clicking the dustbin icon

[2021-03-01 01:34] Ken-Abruzzi opened #272 "The data connectors' icons become red but they are still active after they run for hours"
## Description

When the connectors start to import data for many hours, they seem to be inactive on the web page
![image](https://user-images.githubusercontent.com/68931768/109441477-2da49100-79ea-11eb-9b2e-976e9d33b27f.png)
![image](https://user-images.githubusercontent.com/68931768/109441853-4e211b00-79eb-11eb-9177-3f1c6a508731.png)

But the progress bar is still increasing.

## Environment

1.

[2021-03-01 03:54] Ken-Abruzzi opened #273 "The connector for CVE does not import data and cannot be restart or removed"
## Description

The CVE connector remains the same state for 3 days, and when I click the buttons to reset the connector or clear the connector or delete the work, it shows "Error updating elastic".
![image](https://user-images.githubusercontent.com/68931768/109448992-31d9aa00-79fc-11eb-976d-7f6e86bc231b.png)

## Environment

1. OS : Ubuntu 20.04.2
2. OpenCTI version: 4.2.4
3. OpenCTI client: fron

[2021-03-01 07:18] trocade opened #274 "Connector crowdstrike - setting epoch to milliseconds timestamp cause the connector to loop"
## Description

Setting the values of to epoch milliseconds
[code]
causes the connector to get stuck in a loop.

## Environment

1. Ubuntu 18.04 LTS
2. OpenCTI 4.2.4
3. python
4. N/A

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. Set the REPORT or INDICATOR start time to a epoch time in milliseconds (2018-01-01 00:00:00) 1514764800000
2. Restart the connector
3. ERR

[2021-03-01 13:00] Tyrell20 opened #275 "Error with CyberCrime Tracker Connector"
## Description

Unable to start the CyberCrime Tracker connector (v. 4.2.4) to pull data into OpenCTI.

## Environment

OS (where OpenCTI server runs): { Red Hat Enterprise Linux Server release 7.9 (Maipo) with Docker Compose }
OpenCTI version: { OpenCTI 4.2.4 }
OpenCTI client: { Frontend }
Other environment details:
Elasticsearch 7.11.0
RabbitMQ 3.8.12
Redis 6.0.10
MinIO Latest

## Expected Outpu

[2021-03-01 13:11] Tyrell20 opened #276 "[Cyber Threat Coalition] Problem with the connector"
## Description

Unable to pull data from  Cyber Threat Coalition connector (v. 4.2.4) into OpenCTI.

## Environment

1. OS (where OpenCTI server runs): { e.g. Mac OS 10, Windows 10, Ubuntu 16.4, etc. }
2. OpenCTI version: { e.g. OpenCTI 1.0.2 }
3. OpenCTI client: { e.g. frontend or python }
4. Other environment details:

## Reproducible Steps
Configuration on docker-compose.yml:
      - CYBER_THRE

[2021-03-01 14:38] smclinden commented on #263
Ok, one thing that can cause this is described in the following link (a POST being rewritten as a GET by mod_rewrite):

https://stackoverflow.com/questions/26728231/post-request-getting-converted-to-get-when-url-rewriting-is-done-in-apache-httpd

AFAIK, if you are using RewriteRule you could either use the flag [R=307] which would cause the Request to be repeated using the same method (e.g. POST)

[2021-03-01 15:50] Tyrell20 commented on #263
Hello,

I don't use a proxy/reverse proxy on MISP server. I use only a "Redirect permanent" option to redirect from http to https with Apache.

In addition, my MISP instance is integrated with other platforms without problems.

Thank you

[2021-03-01 16:44] jbfeldman commented on #259
@NetEyes I think I messed up the git somewhere so creating a pull request is going to be tricky but I implemented changes on my fork (https://github.com/jbfeldman/connectors) that should fix this issue. Please re-read the README though as some of the parameters to the connector have changed

[2021-03-01 16:47] smclinden commented on #263
I should modify what I posted, above, to state that the changes that I suggested would apply to browsers but not, likely, APIs.

Assuming that your MISP_URL is not subject to a Redirect but is, in fact, the actual URL, what I wrote would not be applicable.

[2021-03-03 10:15] Deventual opened #278 "MISP connector unexpected behavior, it creates another report after changing event name instead rewrite it's name"
## Description

{ After changing MISP event name (for event that is already ingested by the openCTI platform).
the system will create a new report instead of rewriting the old report name to the new one. }

## Environment

1. OpenCTI version: { 4.2.4 }
2. OpenCTI client: { frontend }

[2021-03-03 12:34] richard-julien commented on #278
The current key of the report is generated with { src: NAME_FIELD }, { src: 'published' } }
So yes if the report have a name change we currently have no idea its the same.
Maybe we miss something but not sure we have any key available to actually know its the same report.
Any idea @Deventual , @SamuelHassine ?

[2021-03-03 14:45] Tyrell20 commented on #263
Hello smclinden,

are you still working on the connector? We are available in case of is needed to do some tests.

Thanks a lot

[2021-03-04 01:54] ktneely commented on #5
It's not clear to me what the original intent of Cortex Connector feature request would be, but it occurs to me that a useful -and possibly easier to build- approach would be to simply do the following:

1. Pull the IOCs that have been researched by a Cortex user  (i.e. those items that have been enriched using Cortex)
2. Update the History section of the IOC entity in OpenCTI with this info (e.g.

[2021-03-04 12:28] smclinden commented on #263
Yeah, I got side-tracked by some incident response. I should get back to it by the weekend.

[2021-03-05 15:02] NetEyes commented on #259
Hi jbfeldman,
I tried your fork version and I am not getting any feeds. I set the interval to '1' (1 hr) but it's over an hour and still no activities.
![image](https://user-images.githubusercontent.com/20463433/110132968-baa86b00-7d99-11eb-97e8-20f0d635cc3d.png)

[2021-03-05 16:01] jbfeldman commented on #259
@NetEyes can you please provide your config.yml or docker-compose.yml (scrubbed of credentials of course)

[2021-03-05 16:16] NetEyes commented on #259
I just filled-up the config.yml file. I don't see what's wrong with it.

![image](https://user-images.githubusercontent.com/20463433/110142418-242d7700-7da4-11eb-90a5-1938f3d97a19.png)

[2021-03-05 16:58] jbfeldman commented on #259
@NetEyes currently the argument for the Discovery URL is not pointing to the discovery URL, it's pointing to the endpoint that gives information on Collections. That's probably why it's hanging

Also, unless you are confident you know the correct syntax for the Collections argument, I'd recommend using `*.*`

I agree that the config.yml syntax looks fine, but the error being thrown is definitely a

[2021-03-08 14:57] maertv opened #280 "[AlienVault] Indicator custom property x_opencti_main_observable_type is not set"
## Description

The indicator custom property _x_opencti_main_observable_type_ is not set by the connector. It means that it is not possible to filter indicators created by the connector by _x_opencti_main_observable_type_.

## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.04.5 LTS
2. OpenCTI version: _master_
3. OpenCTI client: UI (_master_), Python 4.2.4

## Reproducible Steps

Check

[2021-03-08 15:02] Deventual opened #281 "MISP connector unexpected behavior, it creates another report after changing event name instead of rewrite it's name"
## Description

{ After changing MISP event name (for event that is already ingested by the openCTI platform). }
{ The system will create a new report instead of rewriting the old report name to the new one. }

## Environment

1. OpenCTI version: { 4.2.4 }
2. OpenCTI client: { frontend }

[2021-03-08 15:48] maertv opened #283 "[CrowdStrike] Indicator custom property x_opencti_main_observable_type is not set"
## Description

The indicator custom property _x_opencti_main_observable_type_ is not set by the connector. It means that it is not possible to filter indicators created by the connector by _x_opencti_main_observable_type_.

## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.04.5 LTS
2. OpenCTI version: _master_
3. OpenCTI client: UI (_master_), Python 4.2.4

## Reproducible Steps

Check

[2021-03-08 15:50] maertv opened #284 "[Kaspersky] Indicator custom property x_opencti_main_observable_type is not set"
## Description

The indicator custom property _x_opencti_main_observable_type_ is not set by the connector. It means that it is not possible to filter indicators created by the connector by _x_opencti_main_observable_type_.

## Environment

1. OS (where OpenCTI server runs): Ubuntu 18.04.5 LTS
2. OpenCTI version: _master_
3. OpenCTI client: UI (_master_), Python 4.2.4

## Reproducible Steps

Check

[2021-03-08 16:05] maertv commented on #274
Please use seconds since the Unix epoch.

[2021-03-08 16:14] trocade commented on #274
Of course but:

The bug report is that even that the connector does seem to notice that the timestamp is wrong but still tries to process data from this incorrect date. And when it happens it will cause the loop of failed processed reports.

[2021-03-08 16:35] NetEyes commented on #259
I fixed the yml syntax issue.
Now  I am getting this message - i don't see any activities even though i set the interval to 1 hour.
![image](https://user-images.githubusercontent.com/20463433/110350998-53d9ba80-8002-11eb-9a82-6f5892c0a9fc.png)

[2021-03-08 16:52] maertv commented on #274
I understood.

It only accepts seconds since Unix epoch, but it is not explicitly checked. The documentation wrongly assumes that it is clear for everyone that the timestamp in UNIX Epoch time means it should be in seconds.

[2021-03-08 17:56] jbfeldman commented on #259
@NetEyes can you show the contents of your updated config.yml?

Looking at the code and your output, the only explanation is that no API Roots were discovered. This is likely because the Discovery URL variable is not set correctly. It's a bit annoying but the taxii2client library can sometimes "fail silently" and just return an empty array for the API roots instead of throwing an error when the Di

[2021-03-08 19:16] NetEyes commented on #259
The connector can able to see the collections now but another error.

![image](https://user-images.githubusercontent.com/20463433/110369809-e7b68100-8018-11eb-8e1e-ccf9334e6922.png)

[2021-03-08 19:21] NetEyes commented on #259
![image](https://user-images.githubusercontent.com/20463433/110370379-93f86780-8019-11eb-856b-2e19bdf80ef1.png)

[2021-03-08 20:37] jbfeldman commented on #259
@NetEyes The Connector is polling correctly (I think). the API Root is named "STIX 2 API Root" and it's url path is /api2/, and the Collection is called "system.STIX2_CatchAll_AllTime". The actual issue is that the JSON response returned from the TAXII2 Server does not contain an "objects" key, which I believe is a violation of the TAXII2.0 and TAXII2.1 standard. I can only recommend trying to fin

[2021-03-09 00:40] #281 closed

[2021-03-09 00:41] Deventual opened #285 "MISP connector unexpected behavior, it creates another report after changing event name instead of rewrite it's name"
## Description

{ After changing MISP event name (for event that is already ingested by the openCTI platform). }
{ The system will create a new report instead of rewriting the old report name to the new one. }

## Environment

1. OpenCTI version: { 4.2.4 }
2. OpenCTI client: { frontend }

[2021-03-09 00:42] #280 closed

[2021-03-09 12:37] samjackson200 commented on #242
Additionally, if the connector encounters a error response from the Crowdstirke API it is unable to handle the error, causing the connector to stop, and when the connector is restarted it commences processing from the start again due to this issue.

[2021-03-10 08:40] SamuelHassine opened #287 "[Tanium] Implement reputation expiration"
## Problem to Solve

Tanium connector is able to insert hashes in the Reputation Shared Service, but the deletion of entries is not working.

## Current Workaround

None.

## Proposed Solution

Implement expiration management and deletion.

[2021-03-10 11:40] SamuelHassine commented on #273
Hello @Ken-Abruzzi,

Can you please share the OpenCTI logs when you have the error "Error updating Elastic"?

[2021-03-10 11:42] SamuelHassine commented on #260
Hello @Tyrell20,

We have implemented TAXII 2 protocol directly in the core platform. You can now create TAXII 2 collections directly in the UI:  https://demo.opencti.io/dashboard/data/taxii.

TAXII 1 is unfortunately not part of our roadmap and will not be prioritized for the moment. If your organization really need TAXII 1 endpoint, let's discuss that on Slack (you can DM me).

Kind regards,
Sam

[2021-03-10 11:42] #260 closed

[2021-03-10 11:47] SamuelHassine commented on #240
Hello @NetEyes,

STIX 2.1 can be ingested automatically using the Python library (import_bundle), and through the TAXII 2.1 connector. No plan to be able to ingest STIX 1.1.1 for now.

Kind regards,
Samuel

[2021-03-10 11:47] #240 closed

[2021-03-10 11:48] #274 closed

[2021-03-10 11:49] SamuelHassine commented on #176
@manonviallet Please re-open an issue for each connector where you actually need documentation in order to properly implement/deploy them.

[2021-03-10 11:49] #176 closed

[2021-03-10 11:51] SamuelHassine commented on #211
Hello,

Since a lot of things have been modified since the issue has been raised (V4, improvments on merging and on the AlienVault connector, etc.). I close this issue for now. Please feel free to open a new one and give some details about the behaviour you would like to have in this connector.

Kind regards,
Samuel

[2021-03-10 11:51] #211 closed

[2021-03-10 16:12] #283 closed

[2021-03-10 17:35] NetEyes commented on #259
I am using Postman to query our taxii feeds. I got the json response file and it seems valid though.

1. collections reponse
![image](https://user-images.githubusercontent.com/20463433/110671658-caaabb00-819c-11eb-870b-f90dbbc5b2bd.png)

2. catch all time json response

![image](https://user-images.githubusercontent.com/20463433/110671856-fe85e080-819c-11eb-8ee6-d72a47939910.png)

[2021-03-11 12:58] Ken-Abruzzi commented on #273
@SamuelHassine Hello! Thanks for your attention. I have raised another question here [https://github.com/OpenCTI-Platform/opencti/issues/1139](url). I think the two phenomena may have same reason.

[2021-03-13 11:05] JustCodeIt4Head opened #289 "Option for Data Import Conenctors to use Request on Demand?"
Please replace every line in curly brackets { like this } with appropriate answers, and remove this line.

## Problem to Solve
As far as I'm aware, Connectors like AlienValut or Malpedia can't be configured to work only on Request, they have to Download the Entire Dataset if connected.
So lets say i have IP 1.1.1.1 and only want Information from AlivenValut about that IP, it would be nice to have

[2021-03-16 11:28] #275 closed

[2021-03-16 11:29] #244 closed

[2021-03-18 09:36] ahmadmkhan1 opened #290 "[URLhaus] Be able to configure the creation of indicators"
## Problem to Solve

Abuse.ch URLhaus connector has a hardcoded `x_opencti_create_indicator=True`. In order to have trusted indicators only, OpenCTI needs to control Abuse.ch's indicator creation. I know its trivial but please add the feature to allow changing it to False in config.yml

## Proposed Solution

1. Add the following to __init__ function of class URLhaus
[code]
2. Add the choice to set

[2021-03-18 14:05] lesleyxyz opened #291 "MISP -> ERROR:root:search() keywords must be strings"
## Description
I want to integrate MISP with OpenCTI. The connector errors and doesn't import events.
How do I debug this?

## Environment

1. OS (where OpenCTI server runs): https://github.com/OpenCTI-Platform/docker host: Debian 10
2. OpenCTI version: 4.3.0
3. OpenCTI client: 4.3.0? not sure and think it's irrelevant
4. Other environment details:
MISP: Latest commit on git, commit id 4474dcc, so

[2021-03-21 21:52] IOTech17 opened #293 "[ThreatFox] Create the connector"
Hi,

abuse.ch recently released their IOC platform threatfox : https://threatfox.abuse.ch/api/

https://threatfox.abuse.ch/export/

Could you create a connector as it is a high quality feed?

This need to include the tag of the Threat.

Thank you in advance.

[2021-03-22 10:42] Tyrell20 opened #294 "[TheHive] Possibility to filter the type of cases to import"
## Problem to Solve
Currently, any type of case from TheHive is imported into OpenCTI.

## Proposed Solution
Implementation of a specific parameter/option, inside the OpenCTI connector configuration, in order to choose the status (True Positive, False Positive, Indeterminate, Other...) of the case to import.

## Additional Information
![screenshot 361](https://user-images.githubusercontent.com/641

[2021-03-22 15:25] AC-WhiteGlint opened #295 "Adding Hybrid Analysis feed connector"
Hi,

Could you please add a connector for the Hybrid Analysis feed : https://www.hybrid-analysis.com/feed?json

This will need to import the items tagged as malicious, compromised host, files de

example :

[code]

In the item above we want to IP of the compromised host

Example 2 :

[code]
The file sha256 of the file with "threatlevel_readable": "malicious" should be send to openCTI alon with the

[2021-03-22 16:26] AC-WhiteGlint commented on #293
If you look at the csv file you can import different type of IOC : https://threatfox.abuse.ch/export/#csv

URL
sha256 or md5
IP port
Domain

This can replace the URLhause connector because this one came with proper tagging of the threat.

However will you create a new connector with option to import or not certain types of IOC or will you create different connector, one for each type of IOC?

[2021-03-24 15:22] maertv opened #297 "[Kaspersky] Make the YARA master report creation optional"
## Problem to Solve

When the OpenCTI Kaspersky connector imports YARA master it will also create a corresponding report, if the report is specified by the YARA rule, and associate the report with said YARA rule. It seems that there are cases when this is not desired.

## Current Workaround

No workaround exists.

## Proposed Solution

The solution is to make the YARA master report creation option

[2021-03-25 01:56] Ken-Abruzzi commented on #273
I know the reason. The disk is short of space for elasticsearch to run.  I need to expand the disk space.

[2021-03-25 01:56] #273 closed

[2021-03-25 02:01] Ken-Abruzzi commented on #272
I know. The disk is running out of space so that the elasticsearch cannot work. And the opencti platform (graphQL api) is dependent on elasticsearch. And the workers and connectors are dependent on opencti platform  (graphQL api). So all of them stop working. What I need to do is to expand the disk free space.

[2021-03-25 02:01] #272 closed

[2021-03-25 11:55] maertv commented on #297
Added a new boolean configuration parameter _master_yara_include_report_ (_KASPERSKY_MASTER_YARA_INCLUDE_REPORT_) with a default value of _true_, which means that the report is created and associated with the indicator (if the YARA rule contained information about the report). To disable the report creation and association set the value to _false_.

[2021-03-25 16:39] kenshinsamue opened #299 "How to add a Connector to the alienvault OTX worker"
Im starting with the VM version, so i configured the portainer document , adding the following fields:

`OPENCTI_TOKEN`,`CONECTOR_ID` and `ALIENVAULT_API_KEY`

Is something missing?, when i enter into the opencti webapp, i dont see any worker.

[2021-03-26 07:58] #291 closed

[2021-03-28 08:52] 8ear commented on #5
Hi,
I think this idea is also well.
But I think the original intention from @SamuelHassine was to use cortex to enrich the information in opencti.

kind regards

[2021-03-28 10:26] SamuelHassine commented on #5
Indeed it was @8ear. For the moment we've decided to not create this connector. CORTEX Analyzer will be available in the next major release of CORTEX.

[2021-03-28 10:26] #5 closed

[2021-03-28 10:28] SamuelHassine commented on #25
Duplicate of #31

[2021-03-28 10:28] #25 closed

[2021-03-28 10:30] SamuelHassine commented on #45
Hello,

For the moment, we've decided to maintain the current implementation of connector with external configurations. Another tool may be created for this purpose.

[2021-03-28 10:30] #45 closed

[2021-03-28 10:38] #99 closed

[2021-03-28 10:43] #297 closed

[2021-03-28 11:03] SamuelHassine commented on #142
Hello @V1D1AN,

Sigma rules are now supported by OpenCTI (and validated at the platform level). But MISP integration will not take SIGMA rules into account, please use the OpenCTI API (or Python client) to import your SIGMA rules.

Kind regards,
Samuel

[2021-03-28 11:03] #142 closed

[2021-03-28 11:07] #169 closed

[2021-03-28 11:10] #179 closed

[2021-03-28 11:12] SamuelHassine commented on #181
I think this issue is now solved. Please re-open if it's not the case.

[2021-03-28 11:12] #181 closed

[2021-03-28 11:45] #299 closed

[2021-03-28 16:39] SamuelHassine commented on #237
Hello @Madc4t,

This connector is not ready yet and has been removed for the moment.

Kind regards,
Samuel

[2021-03-28 16:39] #237 closed

[2021-03-28 17:14] #224 closed

[2021-03-28 17:15] SamuelHassine commented on #239
Closing this due to inactivity. We've no problem using this connector right now but if you've more questions/troubles don't hesitate to re-open!

[2021-03-28 17:15] #239 closed

[2021-03-28 17:18] SamuelHassine commented on #242
Hello @maertv,

Do you think it's possible to address this issue in both AlienVault and CrowdStrike connectors?

Thanks!

Kind regards,
Samuel

[2021-03-28 17:57] SamuelHassine commented on #269
Hello @NetEyes,

TAXII Collections are now available directly on the platform. Here in the demo:  https://demo.opencti.io/dashboard/data/taxii.

Kind regards,
Samuel

[2021-03-28 17:57] #269 closed

[2021-03-28 18:27] SamuelHassine commented on #263
Hello @smclinden, @Tyrell20,

The problem may be solved in the next release (tomorrow, 4.3.2). Please let me know if it's fixed so we can close this issue.

Kind regards,
Samuel

[2021-03-28 18:28] SamuelHassine commented on #263
Seems to be confirmed, closing it, feel free to re-open if the problem persists.

[2021-03-28 18:28] #263 closed

[2021-03-28 18:30] SamuelHassine commented on #266
@maertv Can you look into this connector please?

[2021-03-28 18:31] SamuelHassine commented on #268
@maertv Can you look into this connector please?

[2021-03-28 18:54] SamuelHassine commented on #271
Hello,

You can deploy the connectors in separate `docker-compose.yml` files if you have a proper management of network configuration. The connector must be able to access to the RabbitMQ server configured in the main platform (settings are transmitted as they are).

A lot of OpenCTI users deploy them in different files, take a look to the Terraform script to deploy OpenCTI in AWS, GCP and Azure:

[2021-03-28 18:54] #271 closed

[2021-03-28 18:59] SamuelHassine commented on #276
Hello @Tyrell20,

The CTC connector is known to create a lot of things in one single report, which is not optimal. But still, it's working, are you sure of the ID and the name of the connector?

Kind regards,
Samuel

[2021-03-28 19:06] SamuelHassine commented on #289
Hello @JustCodeIt4Head,

This is the purpose of "enrichment" connectors. Please can you open issues to create enrichment connectors for the services you need?

For instance, if you need an AlienVault Enrichment connector, it will be a different connector which will pull Pulses related to a specific indicator/observable.

Kind regards,
Samuel

[2021-03-28 19:06] #289 closed

[2021-03-28 19:06] #290 closed

[2021-03-28 19:08] SamuelHassine opened #302 "[Hybrid Analysis Sandbox] Create the connector"
Create a connector to automatically send payloads to Hybrid Analysis and pull the result.

[2021-03-28 19:52] 8ear opened #303 "Connector for IntelMQ"
## Problem to Solve
OpenCTI should be the new main IoC storage application, therefore a I think it should be a must have to get an [IntelMQ](https://github.com/certtools/intelmq) connector. So that all parser and ingestor from IntelMQ can be used in OpenCTI with only one connector.

## Current Workaround
-

## Proposed Solution
Create a Connector for IntelMQ. So that we can ingest IntelMQ data to

[2021-03-29 08:19] Tyrell20 commented on #276
Hello @SamuelHassine ,

yes, I'm sure of the ID and name of the connector.

With the latest versions, the connector appears in the list but it seems to still not work.
![screenshot 372](https://user-images.githubusercontent.com/64137969/112807289-02a86e00-9078-11eb-8858-82a8b05f6b3a.jpg)

[2021-03-30 10:41] SyeedHasan commented on #98
Are development efforts required for this? I'd love to chip in some help.

[2021-03-30 10:46] SyeedHasan commented on #295
@SamuelHassine I've made considerable efforts to develop the feed ingestion connector. Currently, it doesn't comply to the standards of other connectors but I can showcase my efforts in a PR if something similar would be welcome.

[2021-03-30 11:05] SamuelHassine commented on #295
Hello @SyeedHasan,

Please do so! It will speed-up the development of the connector!

[2021-03-30 11:11] SyeedHasan commented on #295
Sounds good, @SamuelHassine.

Let me give it a proper shape and pull a PR as soon as it's done.

Currently, it is also built to use the pycti library and doesn't go through the queues, would that be a problem? I can fix this via bundling but would require a bit more time.

[2021-03-30 11:13] SamuelHassine opened #304 "[ImportFilePDFStix] Create the connector"
## Problem to Solve

When uploading a PDF file corresponding to a report, this connector should be able to extract STIX knowledge from it using NLP.

* Version 1 : extract entities
* Version 2 : extract entities and relationships between entities

## Current Workaround

None.

## Proposed Solution

Create a connector using NLP.

## Additional Information

None.

[2021-03-30 13:35] amr-cossi commented on #304
We do have some R&D being tested internally for this but we are far from an open-source release, and not sure if it will be possible at all as some commercial partners are involved in the project.

[2021-03-30 13:40] amr-cossi commented on #98
We had developed some scripts to ingest data based on some CSV files for the v3 and they have not been used of migrated for the v4 at all.
I think the first use case that can be developed by anyone is to have a connector which accepts any CSV generated with OpenCTI or with an equivalent format (same columns, some empty).
The more complex use case to be able to ingest a full graph with some name an

[2021-03-30 18:02] SyeedHasan commented on #98
@amr-cossi You previously mentioned defining a few templates to set a standard aside. Is that not applicable anymore?

Also, we can always scale the connector up from a basic CSV importer to the generic importer you've mentioned.

Do you use something in particular to achieve this?

[2021-03-31 08:57] SamuelHassine opened #305 "[Sigma] Create the connector"
## Problem to Solve

[Sigma] Create the connector

[2021-03-31 15:05] romanrusetsky opened #306 "[MITRE] Can't sync mitre connector."
## Description

I am trying to sync the miter connector with opencti-release-4.3.1 and I keep failing.

## Environment

1. Vmware On windows -> Ubuntu 16.4 -> opencti-release-4.3.1 OVF image
2. opencti-release-4.3.1
3. python
4. Other environment details:

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. cd to connectors dir mitre/src
2. edited the config.yml:
"""
"""

[2021-04-01 06:38] nicolas-gagnon opened #307 "Import Connector"
Please replace every line in curly brackets { like this } with an appropriate answer, and remove this line.

## Description
Help to import any connector
{ Please provide a clear and concise description of the bug. }

## Environment
OVA from Opencti

## Reproducible Steps
Just lost

## Expected Output
Tutorials Please

[2021-04-02 02:17] #307 closed

[2021-04-02 02:17] nicolas-gagnon commented on #307
..

[2021-04-03 17:56] ckane opened #308 "MISP connector importing everything EXCEPT indicators & observables"
Please replace every line in curly brackets { like this } with an appropriate answer, and remove this line.

## Description

MISP connector won't import observables/indicators, will import everything else. I am trying to compare both systems, and MISP has a bunch of existing feed data out there that is available to import into a newly-configured instance. I figured that pulling this data into MISP

[2021-04-03 18:06] ckane commented on #308
A good smaller-scale reference example would be to set `MISP_IMPORT_CREATOR_ORGS=CthulhuSPRL.be`.

[2021-04-04 00:37] ckane commented on #308
Ok I spent some time looking at the code and determined that the `README.md` is out of date (missing `MISP_CREATE_INDICATORS` and `MISP_CREATE_OBSERVABLES`), so I will follow up with a PR fixing this.

[2021-04-06 13:05] lesleyxyz opened #310 "MISP only imports if there is galaxy tag from mitre-attack is added"
## Description

I would like OpenCTI to also import events that do not have galaxy tags from the mitre-attack galaxy

## Environment

1. OS (where OpenCTI server runs): Debian 10
2. OpenCTI version: 4.3.4
3. OpenCTI client: docker
4. Other environment details: OpenCTI + MISP with default env
misp connector:
- MISP_CREATE_REPORTS=True # Required, create report for MISP event
- MISP_IMPORT_TAGS=open

[2021-04-07 03:43] nicolas-gagnon opened #312 "[VirusTotal] What is VIRUSTOTAL_TOKEN?"
What info we need to filed in VIRUSTOTAL_TOKEN in docker-compose.yml

version: '3'
services:
  connector-virustotal:
    image: opencti/connector-virustotal:4.3.4
    environment:
      - OPENCTI_URL=http://localhost
      - OPENCTI_TOKEN=ChangeMe
      - CONNECTOR_ID=ChangeMe
      - CONNECTOR_TYPE=INTERNAL_ENRICHMENT
      - CONNECTOR_NAME=VirusTotal
      - CONNECTOR_SCOPE=StixFile,Artifact

[2021-04-07 10:41] SamuelHassine commented on #312
Hello @nicolas-gagnon,

This is your VirusTotal API Key.

Kind regards,
Samuel

[2021-04-07 12:56] kudrew opened #313 "[ImportFileStix] Connector errors with the import of sample stix1.1.1 files"
On 4.3.4 testing the import of some sample stix1.1.1 files and running into some errors:

[https://raw.githubusercontent.com/STIXProject/schemas/version_1.1.1/samples/STIX_Indicator_Snort.xml](https://raw.githubusercontent.com/STIXProject/schemas/version_1.1.1/samples/STIX_Indicator_Snort.xml)
This sample errors out with:
[code]

[https://raw.githubusercontent.com/STIXProject/schemas/version_1.1.1

[2021-04-07 14:22] NetEyes opened #314 "Create a similar FileImportStix connector with polling mechanism"
Hi,

Please create a similar connector FileImportStix that can pull *.json (stix 2.1 format) on a defined file location and will polling mechanism that can also defined what intervals.
OR
make the existing FileImportStix configurable and automated in the dashboard UI
![image](https://user-images.githubusercontent.com/20463433/113882100-054b4780-978b-11eb-8aef-a759f23df16a.png)

[2021-04-10 17:30] SamuelHassine commented on #306
Hello @romanrusetsky,

It seems your connectors have no access to the RabbitMQ. You have to allow them to reach RabbitMQ using the parameters set in the core platform. Please verify your configuration.

Kind regards,
Samuel

[2021-04-12 04:41] Ken-Abruzzi opened #315 "[Sekoia] "403 Client Error: Forbidden for url""
## Description

The Connector-Sekoia does not download data. I check the docker log file, it shows the error information "403 Client Error: Forbidden for url".
![image](https://user-images.githubusercontent.com/68931768/114341478-5a2deb80-9b06-11eb-93b9-9ca0ae3bb099.png)
_figure 1_

I visit the url mentioned in the log file, and it returns
![image](https://user-images.githubusercontent.com/6893176

[2021-04-12 09:13] SamuelHassine commented on #315
@Darkheir Any idea?

[2021-04-12 09:22] rsi-art opened #316 "connector-lastinfosec pull access denied"
Hi,

Our Opencti test platform is working like a charm (thansks to all the great team behind !).

We try to add connector lastinfosec and we get an error :
[code]

can you help us to understand this error ?

We use portainer ande deploy stack with docker-compose

Regards

[2021-04-12 09:26] Darkheir commented on #315
The error you get when visiting the url makes sense, `\u0026` should be replaced by `&` in the url (i.e. `?limit=20&cursor=...`). In this case the API should return an HTTP `400` and not a `403`.

As for the error in the connector seeing that this is a `403` I guess the API Key provided is not a valid one.

[2021-04-12 09:47] SamuelHassine commented on #319
Hello @Stoffe,

Can yo please be more precise on which AWS Service OpenCTI should be sent on?

Kind regards,
Samuel

[2021-04-12 11:48] rsi-art commented on #316
Hi,

Gatewatcher brought us to the solution.
The connector has to be built from sources.

Step 1 : clone de git repo for opencti/connectors
Step 2 : cd to the directory cloned
Step 3 : build the connector with this command : docker build -t connector-lastinfosec:4.3.5 /path/to/where/the/Dockerfile/resides/

After this, update your stack.

[2021-04-12 11:48] #316 closed

[2021-04-12 11:48] rsi-art commented on #316
Resolved

[2021-04-12 19:36] SamuelHassine opened #320 "[VXvault] Create the connector"
## Problem to Solve

Create the VXvault (http://vxvault.net/ViriList.php) import connector

[2021-04-12 19:37] SamuelHassine opened #321 "[OpenPhish] Create the connector"
## Problem to Solve

Create the connector for OpenPhish (https://openphish.com/).

[2021-04-12 19:40] SamuelHassine opened #322 "[APWG] Create the connector"
## Problem to Solve

Create the import connector for APWG (https://apwg.org/).

[2021-04-12 19:56] SamuelHassine opened #323 "[Malshare] Create the connector"
## Problem to Solve

Create the import connector for Malshare.com.

[2021-04-13 02:34] Ken-Abruzzi commented on #271
@SamuelHassine Thank you!

[2021-04-13 02:35] Ken-Abruzzi commented on #315
@Darkheir @SamuelHassine Thank you very much. I need to ask the Sekoia for the permission with "INTHREAT_READ_OBJECTS".

[2021-04-13 02:35] #315 closed

[2021-04-13 02:42] Ken-Abruzzi commented on #255
@SamuelHassine Hello! I add this service in my docker-compose.yml file. And the connector doesn't work. The log file is shown as below:
![image](https://user-images.githubusercontent.com/68931768/114488907-aa688480-9bbe-11eb-8dde-ae5d56fbd5d5.png)
I check what @malwaredevil says, and the misspelling is still there.

[2021-04-13 07:23] #308 closed

[2021-04-13 07:37] rhaist commented on #323
I have an account and could look into this connector.

Do you want this to be an enrichment or an import connector?
Which information do we want to import?

[2021-04-14 12:28] sho-illuminate opened #326 "[TheHive] Unable to sync cases from theHive to OpenCTI"
## Description

I am trying to sync theHive's cases to openCTI using opencti - theHive connector.

## Environment

Question | Answer
-- | --
OS version (host) | Windows 10
OS version (guests) | CentOS 7.8
TheHive version | 4.0.5-1
Package Type | Docker
TheHive4py | 1.8.1

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. Start theHive with docker and openCTI + openCTI -

[2021-04-14 14:16] maertv commented on #242
Hopefully, it is somewhat better now. The connector tries to set the state after every importer run. The importers for actors and reports also try to set the state after processing a batch of entities. For indicators and YARA master there is no intermediate state capture.

In general the connector will stop after a CrowdStrike API error and starts with a state that was last stored before the error

[2021-04-15 19:03] 8ear opened #328 "[Abuse Bazaar] Create the connector"
## Problem to Solve
Ingest IoC from Abuse Bazaar:
https://bazaar.abuse.ch/export/#csv

## Current Workaround
-

## Proposed Solution
Copy URLHaus Abuse Connector and fit it to Bazaar

## Additional Information
-

[2021-04-15 19:06] 8ear opened #329 "[ThreatFox Abuse] Create the connector"
## Problem to Solve
Add Abuse ThreatFox Connector.
https://threatfox.abuse.ch/

## Current Workaround

## Proposed Solution
Copy URLHaus Abuse connector and fit it to the data of Abuse ThreatFox.

## Additional Information

[2021-04-15 19:09] 8ear opened #330 "[SSLBlacklist Abuse] Create the connector"
## Problem to Solve
Ingest SSL certificates from Abuse SSLBlacklist.
https://sslbl.abuse.ch/blacklist/

## Current Workaround

## Proposed Solution
Copy URLHaus Connector and fit it to the data of SSLBlacklist.

## Additional Information

[2021-04-16 14:04] PandaLyfe opened #331 "Exporting Data - CSV Not Available"
Please replace every line in curly brackets { like this } with an appropriate answer, and remove this line.

When trying to export data, only the JSON option is available. I restarted OpenCTI and the connector is found within the docker-compose.yml file. I also checked the configurations. When reviewing the logs, I see this:

[code]

## Environment

1. OS Linux 20.10
2. OpenCTI version: 4.4.0
3. O

[2021-04-16 15:00] PandaLyfe opened #332 "[Github CyberMonitor] Create the connector"
## Problem to Solve
CyberMonitor uploads Cyber Threat Intel in his Github repository frequently. We would like to have a connector to ingest this data into our OpenCTI instance.

CyberMonitor's page: https://github.com/CyberMonitor/APT_CyberCriminal_Campagin_Collections

## Current Workaround
We currently manually download this data.

## Proposed Solution

Create a connector to ingest data from Cy

[2021-04-16 15:25] SamuelHassine commented on #331
Hello @PandaLyfe,

Please can you copy paste your ExportCSV connector configuration?

Kind regards,
Samuel

[2021-04-16 16:39] PandaLyfe commented on #331
Hey @SamuelHassine

Here is what I have configured for the CSV export connector:

[code]
OPENCTI_ADMIN_TOKEN = UUID
CONNECTOR_EXPORT_FILE_CSV_ID = UUID

And the connector can be found here at: https://github.com/OpenCTI-Platform/connectors/tree/master/export-file-csv

Please let me know if you need any further information.

Kind regards,
Jen

[2021-04-17 04:46] BITSDevops111 opened #333 "Resilient IBM support"
Please replace every line in curly brackets { like this } with appropriate answers, and remove this line.

## Problem to Solve

Using Resilient IBM as ticketing management tool rather than TheHIVE and also replacing cortex and include the functionality of cortex in openCTI directly.

## Current Workaround

This is limitation .We need theHIVE and cortex to support automation.

## Proposed Solution

[2021-04-18 10:17] SamuelHassine commented on #326
Hello,

The connector has been tested with TheHive 3 latest version but not TheHive 4. We will re-work the integration to make this compatible asap.

[2021-04-18 14:23] PandaLyfe opened #334 "[AlienVault] Queues not decreasing"
## Description

It appears the connectors for OpenCTI are functioning, new entities, relationships and observables are populating, but reports are not. Please note, this has been occurring for days at the time of drafting this issue. Most recent report received was dated on 02 April 2021.

## Environment

1. OS (where OpenCTI server runs): Ubuntu 20.10
2. OpenCTI version: 4.4.0
3. OpenCTI client:

[2021-04-19 09:47] amr-cossi opened #335 "Sekoia connector: maximum recursion depth exceeded while calling a Python object"
## Description

On April 15th and 16th, the Sekoia connector has raised many errors, blocking any import.

## Environment

1. OS (where OpenCTI server runs): Docker
2. OpenCTI version: 4.4.0
3. OpenCTI client: 4.4.0
4. Other environment details:

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. Activate Sekoia connector on the default feed

## Expected Output

No error

[2021-04-19 16:04] SamuelHassine commented on #335
@amr-cossi,

This is certainly related to a bad STIX 2.1 bundle passed to our STIX splitter. It can be linked to an "unsual" circular dependency. The best would be to have the original STIX bundle at the origin of this error in the connector.

[2021-04-20 07:12] amr-cossi opened #336 "[Mandiant] Connector: wrong ID stored as status"
## Description

After a full run of the FireEye connector, the status saved for reports contains the ID of an identity (the FireEye identity) and not the ID of a report. Every attempt to run a second time fails because of this.

## Environment

1. OS (where OpenCTI server runs): Docker
2. OpenCTI version: 4.4.0
3. OpenCTI client: Connector
4. Other environment details: -

## Reproducible Steps

St

[2021-04-20 07:21] amr-cossi opened #337 "[Sekoia] Use work api"
## Problem to Solve

The current Sekoia connector is pushing STIX bundles but is not declaring its run through the work API. It is then impossible to track the jobs, the errors in the dedicated GUI.

## Current Workaround

Manually check logs to see what ran.

## Proposed Solution

Use the work API with `helper.api.work`

[2021-04-20 07:26] amr-cossi opened #338 "[Sekoia] Allow a custom start date"
## Problem to Solve

It is common in several connectors to be able to choose a start date to pull a feed from a CTI platform through a parameter. The current implementation in the Sekoia connector is to fetch the last hour of data only.

## Current Workaround

Manually set-up a cursor at the right place in the feed.

## Proposed Solution

Add a parameter in the connector to allow a custom start da

[2021-04-20 21:53] #310 closed

[2021-04-21 13:58] ckane opened #340 "[All] Propose standardized optional "one-shot" scheduling for connectors"
Please replace every line in curly brackets { like this } with appropriate answers, and remove this line.

## Problem to Solve

Currently, most (all?) of the external import connectors are written to be persistent services running inside of individual docker containers, or as dedicated processes inside of a shared instance of some sort. They are designed to run in a forever-loop, that wakes up fro

[2021-04-21 14:40] Darkheir commented on #335
The issue seems to come from new a new `*_refs` field we introduced as a custom SEKOIA attribute.

The PR aims to fix it.

[2021-04-21 17:04] #335 closed

[2021-04-22 15:11] NetEyes opened #346 "Email Import with CSV attachment ingestion"
Hi,

Feature Request:
Email import and ingest CSV feeds attachment.

Summary:
We are receiving daily threat intel via email with (intel feeds as CSV format) and it would be great to have this ingested automatically to OpenCTI for further analysis and correlation.

Thanks.

[2021-04-22 16:21] #338 closed

[2021-04-22 16:22] #337 closed

[2021-04-22 17:31] SamuelHassine opened #347 "[TheHive] Compability with version 4 (aka TheHive 4)"
## Problem to Solve

The current connector only works with TheHive 3.X.

## Current Workaround

None.

## Proposed Solution

Implement compatibility with TheHive 4.X.

[2021-04-22 20:44] nor3th opened #348 "[CVE] Exception when missing references"
## Description

The convert function in cvetostix2.py throws an exception if the "references" attribute is missing.

https://github.com/OpenCTI-Platform/connectors/blob/8cd4f062e8b95e6915e5653bd4f25e220d6724a2/cve/src/cvetostix2.py#L34-L36

Connector log:

INFO:root:Requesting the file https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-recent.json.gz
INFO:root:Unzipping the file
INFO:root:Converti

[2021-04-22 20:53] nor3th commented on #348
I messed up my own fork and can't only push the one change, so just take the fix from here:
https://github.com/nor3th/connectors/commit/941db84872c0f98317a4f581e322bce9a113f20d

[2021-04-23 06:58] 2xyo commented on #304
For reference https://trial.elemendar.com/

(Disappointing result after a rapid test)

[2021-04-23 10:50] V1D1AN opened #351 "[MISP] Support Sigma import"
## Description

I have no import sigma rules into OpenCTI from MISP

## Environment

Opencti 4.4.1 in rolling version.
I use all the solution into docker

## Reproducible Steps

I use sigma2misp for import into misp the sigma rules.
I put the tag "OPENCTI" and "tlp:white" to the event MISP with my imported sigma rules.

My connector misp:
[code]

## Actual Output

I have nothing when there is the

[2021-04-23 11:00] V1D1AN commented on #305
Why you don't use MISP for import sigma rules ?

[2021-04-24 10:27] #348 closed

[2021-04-27 16:29] #302 closed

[2021-04-27 22:36] #312 closed

[2021-04-28 01:55] SamuelHassine opened #352 "[MalSilo] Create the connector"
## Problem to Solve

Create the MalSilo import connector.

[2021-04-29 09:27] SamuelHassine commented on #326
Duplicate of #347.

[2021-04-29 09:27] #326 closed

[2021-04-29 09:30] SamuelHassine commented on #331
Hello @PandaLyfe,

Can you please try with the latest version (4.5.0) and tell me if you still have this problem? Empty data means it seems the env vars are not properly set (the name especially or the ID).

Kind regards,
Samuel

[2021-04-29 21:06] huntingneo opened #355 "Error while trying to execute connectors"
## Description

I'm running a manual installation of OpenCTI. When I try to execute a connector I get some errors

## Environment

1. OS: Ubuntu 20.04
2. OpenCTI version: 4.4.1
3. OpenCTI client: python
4. Other environment details:

## Reproducible Steps

Steps to create the smallest reproducible scenario:
1. clone connectors repository
2. cd misp/src
3. cp config.yml.sample config.yml
4. edit co

[2021-04-29 21:06] huntingneo commented on #355
highlight to this output on application logs:

[code]

[2021-04-29 21:34] SamuelHassine commented on #355
Hello @huntingneo,

You're using the master branch of the connector, which is the current (4.5.0) version. Please use the proper tag (4.4.1) and pip3 install the requirements. Your Python library is too recent. Or.... upgrade your platform to the latest version ;)

Kind regards,
Samuel

[2021-04-29 21:36] SamuelHassine commented on #355
By the way, thanks for this very good issue (and very complete). Rare enough to be reported!

[2021-04-29 23:49] huntingneo commented on #355
It's working! I didn't notice wasn't using the last version available. =/

Thank you for the compliment about the issue. Hope I can get collaborate closely with you in the future!

[2021-04-29 23:49] #355 closed

[2021-05-05 10:43] #306 closed

[2021-05-05 10:47] romanrusetsky opened #360 "[Question] Enrichment on demand #question"
I am trying to see if there is a feature available for enrichment using a connector only on demand.
For example, I have a connector to grey noise with a limited query, I want to press on an indicator/observation and run the enrichment logic.

Is there a way to do it via UI? Configuration?

Thank you.

[2021-05-05 11:13] SamuelHassine commented on #360
Hello @romanrusetsky,

All enrichment connectors has a parameter "auto" (true/false) to avoid automatic enrichment.

Docker (env var):
`CONNECTOR_AUTO=true` (env var, Docker)

YAML:
[code]

Kind regards,
Samuel

[2021-05-05 11:20] romanrusetsky commented on #360
Yea I have found that.
Let's, will there be a possibility for me to enrich the object later on-demand?
And if so, please give me an example I could not find the right code for that in the repo.
Thank you.

[2021-05-05 12:51] SamuelHassine commented on #360
Yes, it's possible by clicking on the enrich button in the UI

[2021-05-05 12:51] SamuelHassine commented on #360
![image](https://user-images.githubusercontent.com/1334279/117143709-69285680-adb1-11eb-90c0-3f05250d2eeb.png)

[2021-05-05 12:51] SamuelHassine commented on #360
On the right panel.

[2021-05-05 18:18] #360 closed

[2021-05-07 06:18] maertv commented on #242
Some "improvements" were done regarding issue. Not sure if they actually improved anything but I am closing the issue.

Please open a new issue with detailed description if future development is required.

[2021-05-07 06:18] #242 closed

[2021-05-07 06:35] 2xyo opened #361 "[AlienVault] Option to enable/disbale the creation of the relationships"
## Problem to Solve

I would like to import Alienvault Report "as-is", without all the SDOs linked together because it is not necessarily representative of the imported reports.

## Current Workaround

Import Alienvault pulses manually (stix 2.1 bundle).

## Proposed Solution

Add an option in the connector config to enable/disable the creation of the relationships.

## Additional Information

htt

[2021-05-13 18:46] #318 closed

[2021-05-17 14:37] lesleyxyz opened #363 "[MISP] Indicator vs Observable not correct"
## Description

(wasn't sure if this is a bug or feature request, sorry in advance)

Currently, a MISP attribute when imported translates to one OpenCTI indicator AND one OpenCTI observable.
This creates the following relationships:
![image](https://user-images.githubusercontent.com/5853564/118506650-cc10da80-b72d-11eb-9b79-d43cf1802195.png)

This shouldn't be the intended behaviour in my opinion.

[2021-05-18 16:47] kudrew opened #364 "[ExportFileCSV] Exporting a list of observables works with ExportFileStix but not with ExportFileCSV"
## Description
When exporting a list of observables on a report, exporting in application/json works, but exporting the list of observables in text/csv fails

* reproduceable on demo: https://demo.opencti.io/dashboard/analysis/reports/e0c2db92-6b47-45e3-8fc0-477e529e961b/observables?

![image](https://user-images.githubusercontent.com/51339113/118691578-37fb4d80-b7d7-11eb-8a25-c88dbf5eea6a.png)

#

[2021-05-19 06:09] #364 closed

[2021-05-19 13:08] lesleyxyz commented on #363
Update: I've decided to make Objects observables, and keep the way it makes an Observable and Indicator, because you can control this through an environment variable anyway

[2021-05-19 13:08] #363 closed

[2021-05-20 12:32] jmau2002 commented on #98
@amr-cossi do you know any tools able to transform csv to STIX?

[2021-05-20 13:16] intelwolf opened #365 "[AbuseIPdb] Crash on listing "Korea (Republic of)" entity"
## Description

The AbuseIPDB enrichment connector stops gathering data as soon as there is an entity of "Korea (Republic of)" is found.

## Actual Output

Example listing:
[code]
## Additional information

The error above has been using IP address 143.198.132.45

[2021-05-22 07:17] #317 closed

[2021-05-22 07:18] SamuelHassine commented on #259
Closing this due to inactivity.

[2021-05-22 07:18] #259 closed

[2021-05-26 13:42] amr-cossi commented on #98
When we bootstrapped our first OpenCTI content from some manual tables, we used the following CSV templates:

- One file to define entities to add to the platform inside one report: report_id, entity_type, name, description, aliases, markings
- One file to define relationships between existing entities inside one report: report_id, from_entitiy_type,  from_entitiy_name, to_entitiy_type,  to_entiti

[2021-05-26 17:02] hackeristan opened #369 "Issue with CONNECTOR_ID=???????? for abuseipdb, virustotal & ipinfo"
Hi Team,

Greetings..!!

May I request you to please provide you kind support to me in deploying following connectors
a. ABUSEIPDB,
b. VIRUSTOTAL,
c. IPINFO etc.

I am facing an issue with CONNECTOR_ID=????????  what to give here since its CONNECTOR_TYPE=INTERNAL_ENRICHMENT which is a same problem in all mentioned 3 connector types.

Your support in it may help me in deploying these connectors suc

[2021-05-26 18:17] nor3th commented on #369
As described in the docs[1], the value for CONNECTOR_ID has to be a valid UUIDv4. You can use for a example following generator [2] for getting uuids for your connectors. If the value in the docker compose file is added within ${ }, that means that those values are environment variables. You can define those in for example an ".env" file.

[1] https://www.notion.so/Connectors-4586c588462d4a1fb5e66

[2021-05-27 07:14] intelwolf opened #371 "[AbuseIPdb] enormous efficiency increase by correlating relationships"
## Reduce generated message on enrichment

When using the AbuseIPdb connector a lot of messages are generated. In quite some cases the IP address to be enriched has thousands of sightings and each sighting is generating multiple calls (country, labels etc) resulting in sometimes 5 to 10 thousand calls for enriching 1 IP address

## Proposed Solution

Monitor information before calling the OpenCTI

[2021-05-27 09:50] hackeristan commented on #369
Thank you OpenCTI Team for your kind response on this issue.

I had followed up all the advised steps and added UUID v4 based value and added to advised environment variable file in OpenCTI Stack file in Portainer but no luck. I am not really sure what mistake I am making or what is wrong and where.

I am using OpenCTI version 4.5.0 and following are the configuration of connector I did for Virust

[2021-05-27 15:51] SamuelHassine commented on #361
Thanks a lot @maertv!

[2021-05-27 15:51] #361 closed

[2021-05-27 18:54] nor3th commented on #369
Can you please share the logs of the failed connectors.
According to the posted config, both your connectors seem to be using the same UUID:

Virustotal:
- CONNECTOR_ID=${CONNECTOR_VIRUSTOTAL_ID}

AbuseIP:
- CONNECTOR_ID=${CONNECTOR_VIRUSTOTAL_ID}

[2021-05-27 19:07] hackeristan commented on #369
Hi Team,

I have noticed that mistake and corrected later to the right one of using same UUID. and as posted picture above using newly generated UUID for both saperately VirusTotal & ABUSEIPDB

connector-abuseipdb:
    image: opencti/connector-abuseipdb:4.5.0
    environment:
      - OPENCTI_URL=http://192.168.1.9:8080  --------------> [Using this address at which openCTI console is getting open t

[2021-05-27 19:17] nor3th commented on #369
According to those logs, the issue seems to be rather that those connectors can't establish a connection with opencti itself.

I usually try to avoid using hardcoded IPs in docker compose files and instead simply refer to the docker container name.
Like here for example, where opencti is name for the opencti container in my docker-compose file:

      - OPENCTI_URL=http://opencti:80

[2021-05-27 19:28] hackeristan commented on #369
I had already tried this infact with below listed format but couldn't get success.

 - OPENCTI_URL=http://opencti:8080

I have done every possible changes I could do but only got success in deploying mostly connectors related to **Data Import** **but not success in ENRICHMENT**

I am using VmWare based image in the system.

[2021-05-28 07:27] Tyrell20 opened #372 "[MISP] Errors pinging the API and loading ids"
## Description

MISP connector (version 4.5.3) sometimes fails to recover events. From the docker logs I see the following errors:
ERROR:root:Error loading ids
ERROR:root:Error pinging the API

## Environment

OS (where OpenCTI server runs): { Red Hat Enterprise Linux Server release 7.9 (Maipo) with Docker Compose }
OpenCTI version: { OpenCTI 4.5.3 }
OpenCTI client: { Frontend }
Other environment

[2021-05-28 08:19] Ken-Abruzzi commented on #276
@SamuelHassine Hello! I also confront such phenomenon shown as the above picture. And I check the docker log and it showns some errors:
![image](https://user-images.githubusercontent.com/68931768/119953139-28ec6c00-bf4a-11eb-9fb6-3ca95e7ea054.png)
I can visit the url given in the docker-compose.yml.
![image](https://user-images.githubusercontent.com/68931768/119953330-576a4700-bf4a-11eb-8d97-63cba

[2021-05-28 19:24] nor3th commented on #369
Based on the configuration you posted earlier I couldn't find any issues. The main issue according to the logs seems to be that the connectors can't reach opencti. If the other connectors can connect to opencti, I would dump the current configuration for virus total and abuseip and start again from scratch. Maybe there's something else messing with your connectors